# Ignore Play! working directory #
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.DS_Store
.classpath
.idea/
.project
.settings/
.target/
.log
.bsp
.vscode
public/images/companylogo/