@(fullName:String,email:String,role:String,orgn:model.Organization,allowedProcurement:String,configParams:model.ConfigParams)
@main(fullName,email,role,orgn,allowedProcurement, null,configParams){
    <style type="text/css">
            body {
                background: #F5F5F5;
            }
    </style>

    <div class="login-form">
        <form id="logoutdiv" onsubmit="return false;">
            <div class="top">
                <img src="@(configParams.getCompanyLogoPath())" alt="icon">
                <h4 class="panel-title">Demo time over</h4>
            </div>
            <div class="form-area">
                <div class="group">
                    <b>Thank you for using @(configParams.getCompanyApp()) demo.</b>
                </div>
                <div class="group">
                    Demo period over, please register your company. Want to register <b style="font-weight: 600;"><a href="/signUp#signUpDiv">click here</a></b>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <br/>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#loadingIdos').hide();
            $('#mainBody').show();
        });
    </script>
}
