/* =================================================================================
Login Pages
================================================================================= */
.login-form {
    width: 375px;
    padding-top: 20px;
    margin: 0px auto;
    text-shadow: none;
}
.login-form form {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.login-form form img {
    margin-bottom: 10px;
}
.login-form form .profile {
    border-radius: 999px;
}
.login-form form .top {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 20px 0;
}
.login-form form .top .icon {
    width: 100px;
    height: 100px;
}
.login-form form .top h1,
.login-form form .top h4 {
    margin: 0;
}
.login-form form .top h1 {
    color: #37363E;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: -14px;
}
.login-form form .top h4 {
    font-weight: normal;
    color: #76757B;
    font-size: 15px;
}
.login-form form .form-area {
    padding: 35px 40px;
}
.login-form form .form-area .group {
    position: relative;
    margin-bottom: 10px;
}
.login-form form .form-area .form-control {
    padding-left: 40px;
    height: 40px;
    background: #FFF !important;
}

.login-form form .form-area .form-control:focus {
    border-color: #000 !important;
    background-color: #eeeeee !important;
}

.login-form form .form-area .fa {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 16px;
    color: #C3C3C3;
}
.login-form form .form-area .btn {
    height: 42px;
    font-weight: 600;
    font-size: 14px;
}
.login-form form .form-area .checkbox {
    margin-bottom: 20px;
}
.login-form .footer-links {
    color: #76757B;
    padding: 10px 5px;
}
.login-form .footer-links a {
    color: #76757B;
}
.login-form .footer-links a:hover {
    color: #37363e;
}

.btn-login {
    transition: all 0.4s ease;
    padding: 8px 25px;
    border-radius: 3px;
    margin-top: 20px;
    color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
.btn-login:focus, .btn-login:active, .btn-login:hover{
    color: #fff;
}

.registrationDiv .input-group-addon {
  background: #f7f7f7;
  border-color: #BDC4C9;
  font-weight: 600;
  padding-left: 17px;
  padding-right: 17px;
}

.userpopoverinfo,
.userpopoverinfoleft,
.help-info  {
	display:none !important;
}
