@(branchName:String,actionAlertUser:String,insurencePolicyNumber:String,validityFrom:String,validityTo:String,alertUserEmail:String,orgEntity:String,branchEntity:String,branchInsurenceEntity:String,configParams:model.ConfigParams)
<table style="width: 60%; font-family: 'Montserrat', sans-serif;">
<tbody>
  <tr  id="emailHeader">
		<td>


		</td>
  </tr>
  <tr id="emailBody" ><td>
      <table>
        <tr>
          <td style="width: 600px" align="left">
            <div>
              <b><font size="5">Idos Alert For Information.</font></b>  <br>
					  <br>
              <font size="5">@{branchName} Branch Insurance Policy @{insurencePolicyNumber} Validity Has Been Updated By @{actionAlertUser}</font><br/><br/>
            </div>
          </td>
        </tr>
        <tr style="background-color: white">
          <td style="width: 600px" align="left">
            <div>
               <b><font size="4">@{branchName} Branch Insurance Policy @{insurencePolicyNumber} Validity From:@{validityFrom}</font></b><br/>
               <b><font size="3">@{branchName} Branch Insurance Policy @{insurencePolicyNumber} Validity To: @{validityTo}</font></b>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr  id="emailFooter">
	<td style="text-align: left;">  <br>
					  <br>&nbsp;<img  border="0" width="30px" height="30px" src="@(configParams.getCompanyLogoPath())"/></td>
  </tr>
  </tbody>
</table>