<!DOCTYPE html>
<html lang="en">
  <head>
    <title>::Welcome to IDOS::</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="assets/website/images/logo.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="assets/website/css/style.css" rel="stylesheet">
	<!-- [if lt IE 9]
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
	<header class="innerpage">
	  <div class="container">
		<nav class="navbar navbar-expand-md navbar-light">
		  <a class="navbar-brand" href="/" title="My Idos Logo"><img src="assets/website/images/logo.png" class="img-responsive" alt="Logo"/></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link nav-red-btn" href="#" data-toggle="modal" data-target="#loginModal"><i class="fas fa-lock"></i>&ensp;Login</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link nav-white-btn" href="#" data-toggle="modal" data-target="#demoModal"><i class="fas fa-play-circle"></i>&ensp;Request Demo</a>
			  </li>
			</ul>
		  </div>
		</nav>
	  </div>
	</header>
	<main>
	  <div class="fullwh optionz">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="assets/website/images/case-studies-manufacturing.jpg" class="img-fluid none-for-ie" alt="Image">
					<div class="fit-for-ie" style="background-image:url('images/case-studies-manufacturing.jpg');"></div>
				</div>
				<div class="col-sm-5">
					<h1>Manufacturing</h1>
					<div class="small-bar"></div>
					<p>The Beverage Company first engaged IDOS in 2016. The Beverages Company was engaged in manufacturing, bottling and distribution of beverages, with manufacturing  in Karnataka and pan India distribution.</p>
					<h4>Challenge</h4>
					<p>The Company had no control on inventory of raw material, WIP and finished goods. Over a period of time the operations had become too vast and voluminous, making old accounting and financial systems inadequate. The old system was riddled with error prone manual processes, unreliable financial data and delayed reports. All this combined had led to the management losing control over operations and profitability.</p>
					<p>The company management also wished to move to cloud in order to keep pace with competition and leverage technology. The company needed a solution to the above along with the following under liners:</p>
					<ul>
						<li>The solution needs  to be end to end.</li>
						<li>The solution needs to be consistent with the abilities of their existing workforce.</li>
						<li>And the solution needs to deliver extremely high on reporting and MIS.</li>
					</ul>
					<h4>Result</h4>
					<p>IDOS provided the company with an end to end ERP software that is easy to use both for the management and the employees. </p>
					<p>The software works on a look and click UI where employees need to only click on the option and enter a few details, the heavy load of computing inventory values, applicable taxes, discounts, journal entries etc. is taken by IDOS. </p>
					<p>For the management IDOS provides complete business position statistics and analytics, which they can view from their office or home or anywhere else. This MIS provides information of inventory levels at each of their warehouses, process analytics, product wise profitability, RoI analytics, location wise analytics, customer-vendor analytics and a lot more.</p>
					<h4>Solution</h4>
					<p>IDOS based its solution around 5 pillars:</p>
					<ul>
						<li><strong>Automation:</strong>All repeatable processes were automated such as (but not limited to) GST computation and accounting, Invoicing, MIS, P&L, BS, Receivables Payables Tracking, Reminders, Depreciation entries, Inventory updates, TDS etc.</li>
						<li><strong>Compliances:</strong> IDOS solution come with inbuilt compliance with tax laws such as GST and TDS, with accounting standards and with Internal controls that the company management wants to implement.</li>
						<li><strong>Accuracy of Data:</strong>  IDOS mitigates or eliminates processes that are prone to errors. This significantly increases the accuracy and reliability of data. Accurate data is important because it increases the level of confidence that management has on the data put in front of it.</li>
						<li><strong>Online and Cloud:</strong> What this means for a company is that that the management always has access to live data. This increases the recency and relevance of the data for the management, which otherwise had to struggle to find up to date reports.</li> 
						<li><strong>Ease of Use:</strong> The software does not require expert operators.  Existing staff of the company can easily operate it. Since the software is simple, even the senior management can access the software data and the various reports without hassle.</li>
					</ul>
				</div>
				<div class="col-sm-3">
				  <div class="side-group-main">
					  <div class="side-group">
						  <div class="col-sm-12 idox-list">
							<a onclick="goBack()" class="btn btn-secondary btn-block"><i class="fas fa-angle-left"></i> Go Back</a>
						  </div>
					  </div>
				  </div>
				</div>
			</div>
		</div>
	  </div>
	</main>
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body">
			<div class="col-sm-12 text-center lgpopicon"><img src="assets/website/images/logo-icon.png" class="img-fluid mx-auto" alt="logo"/></div>
			<div class="col-sm-12" id="login">
				<form>
					<h4><i class="fas"></i> Login</h4>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="login-email"><i class="fa fa-envelope"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Email Id" aria-label="EmailID" aria-describedby="login-email">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="login-password"><i class="fas fa-key"></i></span>
					  </div>
					  <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="login-password">
					</div>
				  <div class="col-sm-12 mb10 text-center"><a href="#" title="Click to reset password" onclick="mylogin('forget')">I Forgot my password</a> | <a href="#" title="New User" onclick="mylogin('signup')">New User</a> | <a href="#" title="External User Link"  onclick="mylogin('external')">External User</a></div>
				  <div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
				  </div>
				</form>
			</div>
			<div class="col-sm-12" id="forgot" style="display:none">
				<form>
					<h4><i class="fas fa-key"></i> Reset Password</h4>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="forgot-email"><i class="fa fa-envelope"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Email Id" aria-label="EmailId" aria-describedby="forgot-email">
					</div>
				  <div class="col-sm-12 mb10 text-center"><a href="#" title="Back to Login" onclick="mylogin('login')">Back to Login</a></div>
				  <div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-primary">Reset</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
				  </div>
				</form>
			</div>
			<div class="col-sm-12" id="external" style="display:none">
				<form>
					<h4>External User Login</h4>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-email"><i class="fa fa-envelope"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Registered Email" aria-label="external-email" aria-describedby="external-email">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-password"><i class="fa fa-key"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Password" aria-label="external-password" aria-describedby="external-password">
					</div>
				  <div class="col-sm-12 mb10 text-center"><a href="#" title="Back to Login" onclick="mylogin('login')">Back to Login</a> | <a href="#" title="External User Register" onclick="mylogin('externalsignup')">External User Register</a></a></div>
				  <div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-primary">Login</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
				  </div>
				</form>
			</div>
			<div class="col-sm-12" id="externalsignup" style="display:none">
				<form>
					<h4>External User Register</h4>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-signup-company"><i class="fas fa-building"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Company/Business Name" aria-label="external-signup-company" aria-describedby="signup-company">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-signup-name"><i class="fas fa-user"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Your name" aria-label="external-signup-name" aria-describedby="external-signup-name">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-signup-email"><i class="fa fa-envelope"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Email with which you to register" aria-label="external-signup-email" aria-describedby="external-signup-email">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-signup-password"><i class="fas fa-key"></i></span>
					  </div>
					  <input type="password" class="form-control" placeholder="Create your password" aria-label="Password" aria-describedby="external-signup-password">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-signup-repassword"><i class="fas fa-key"></i></span>
					  </div>
					  <input type="password" class="form-control" placeholder="Retype password again" aria-label="external-signup-repassword" aria-describedby="external-signup-repassword">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-signup-mobile"><i class="fa fa-phone fa-flip-horizontal"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Mobile (e.g. +91 XXXX XXX XXX)" aria-label="external-signup-mobile" aria-describedby="external-signup-mobile">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-signup-know"><i class="fab fa-instagram"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="How did you know about IDOS" aria-label="external-signup-know" aria-describedby="external-signup-mobile">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="external-signup-webaddress"><i class="fab fa-link"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Website/URL" aria-label="external-signup-webaddress" aria-describedby="external-signup-mobile">
					</div>
				  <div class="col-sm-12 mb10 text-center"><a href="#" title="Click to Login" onclick="mylogin('externalsignup')">Already Registered User?</a></div>
				  <div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
				  </div>
				</form>
			</div>
			<div class="col-sm-12" id="signup" style="display:none">
				<form>
					<h4><i class="fas fa-user"></i> Sign Up</h4>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="signup-company"><i class="fas fa-building"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Company/Business Name" aria-label="signup-company" aria-describedby="signup-company">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="signup-name"><i class="fas fa-user"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Your name" aria-label="signup-name" aria-describedby="signup-name">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="signup-email"><i class="fa fa-envelope"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Email with which you to register" aria-label="signup-email" aria-describedby="signup-email">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="signup-password"><i class="fas fa-key"></i></span>
					  </div>
					  <input type="password" class="form-control" placeholder="Create your password" aria-label="Password" aria-describedby="signup-password">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="signup-repassword"><i class="fas fa-key"></i></span>
					  </div>
					  <input type="password" class="form-control" placeholder="Retype password again" aria-label="signup-repassword" aria-describedby="signup-repassword">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="signup-mobile"><i class="fa fa-phone fa-flip-horizontal"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Mobile (e.g. +91 XXXX XXX XXX)" aria-label="signup-mobile" aria-describedby="signup-mobile">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="signup-know"><i class="fab fa-instagram"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="How did you know about IDOS" aria-label="signup-know" aria-describedby="signup-mobile">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="signup-webaddress"><i class="fab fa-link"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Website/URL" aria-label="signup-webaddress" aria-describedby="signup-mobile">
					</div>
				<div class="col-sm-12 mb10 text-center"><a href="#" title="Click to Login" onclick="mylogin('login')">Already Registered User?</a></div>
				  <div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
				  </div>
				</form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body">
			<div class="col-sm-12 text-center lgpopicon"><img src="assets/website/images/logo-icon.png" class="img-fluid mx-auto" alt="logo"/></div>
			<div class="col-sm-12">
				<form>
					<h4>Request a Demo</h4>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="demo-username"><i class="fa fa-user"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Your Name" aria-label="Name" aria-describedby="demo-username">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="demo-useremail"><i class="fa fa-envelope"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Email Id" aria-label="EmailID" aria-describedby="demo-useremail">
					</div>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="demo-usermobile"><i class="fas fa-mobile-alt"></i></span>
					  </div>
					  <input type="text" class="form-control" placeholder="Mobile No." aria-label="Mobile No." aria-describedby="demo-usermobile">
					</div>
				  <div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
				  </div><hr/>
				  <div class="col-sm-12">
					<ul class="social-media">
						<li><a href="https://www.facebook.com/MyIdos/" title="MyIdos in Facebook" class="facebook"><i class="fab fa-facebook-f"></i></a>
						<li><a href="https://www.linkedin.com/company/idos" title="MyIdos in LinkedIn" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
						<li><a href="https://twitter.com/idoscorp" title="MyIdos in Twitter" class="twitter"><i class="fab fa-twitter"></i></a>
						<li><a href="http://discovery.ariba.com/profile/AN01309101009" title="MyIdos in Ariba" class="ariba"><img src="assets/website/images/ariba-small.png" alt="ariba" width="22" height="15"/></a>
					</ul>
				  </div>
				</form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="assets/website/js/bootstrap.min.js"></script>
	<script src="assets/website/js/script.js"></script>
  </body>
</html>
