@(fullName:String,email:String,role:String,orgn:model.Organization,allowedProcurement:String,pwdchanged:String,configParams:model.ConfigParams)
@main(fullName,email,role,orgn,allowedProcurement, null,configParams){
<!DOCTYPE>
<html>
<head>
	<!--META-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>@(configParams.getCompanyApp()) change password</title>
<style type="text/css">
body {
	background: #F5F5F5;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		var user = getCookie("user");
		console.log("user = " + user);
		//alert("sss" );
		if ("" === user) {
		  	$('#loadingIdos').hide();
		  	var locHash=window.location.hash;
		  	var url=window.location.pathname;
			//alert("sss" + url);
		}
	});
</script>
</head>
<body>
<!--RESET PASSWORD FORM-->
		<div class="login-form" id="changepwd" role="login">
			
			<form id="resetuseraccountform" onsubmit="return false;">
				<div class="top">
					<a href="/"><img src='@(configParams.getCompanyLogoPath())' alt="icon"/></a>
					<h4 class="panel-title">Reset Password and activate/deactivate user</h4>
				</div>
				
				<div class="form-area">
					<div class="group">
						<label>Activate/deactivate</label> <input id="activatecheck" type="checkbox" name="activatecheck" class="form-control" style="padding-left:5px; height: 40px;" placeholder="activate/deactivate" checked/>
						
					</div>
					<div class="group">
						<input id="resetemail" type="email" name="resetemail" class="form-control" value="@email" placeholder="Enter your e-mail"/>
						<i class="fa fa-envelope-o"></i>
					</div>
					<div class="group">
						<input id="resetnewpass" type="password" name="resetnewpass" class="form-control" placeholder="New password"/>
						<i class="fa fa-key"></i>
					</div>
					<div class="group">
						<input name="resetconfirmpass" id="resetconfirmpass" type="password" class="form-control" placeholder="Confirm new password" />
						<i class="fa fa-key"></i>
					</div>
					<div id="securityAnswerDiv" style="display: none;">
						<input type="hidden" id="resetSecurityquestionId">
						<input type="hidden" id="resetSecurityquestion">
						<div id="securityquestion"></div>
						<input type="password" id="resetSecurityAnswer" class="form-control" style="padding-left: 1px;" placeholder="Security Answer">
						<span id="forgotSecurityAnswer">Forgot Security Answer? Reset it.</span>
					</div>
					<button id="changeuserpwd" class="changepwd btn btn-default btn-block">Click Here To Change Password</button>
				</div>
			</form>
		</div>
		<!--END RESET PASSWORD FORM-->
</body>
</html>
}