<!DOCTYPE html>
<html lang="en">
  <head>
    <title>::Welcome to IDOS::</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="assets/website/images/logo.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="assets/website/css/style.css" rel="stylesheet">
	<!-- [if lt IE 9]
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
@indexhead(){
}
	<main>
	  <div class="fullwh optionz poser">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="assets/website/images/collaborate-or-partner.jpeg" class="img-fluid none-for-ie" alt="Image">
					<div class="fit-for-ie" style="background-image:url('assets/website/images/collaborate-or-partner.jpeg');"></div>
				</div>
				<div class="col-sm-5">
					<h1>How can we collaborate or partner with IDOS?</h1>
					<div class="small-bar"></div>
					<div class="para-read-more">
						<p class="content-para ellipsed lgtxt">IDOS believes in growth based on collaboration, where we partner with businesses which understand the value proposition of our product and share our commitment to enable the ease of doing business.<br/>We collaborate with technology integrators and enable them to offer IDOS to their customers either as an off-the-shelf solution or customised as per the requirements of their customers. Additionally, we collaborate on white label business model, where we license our software to companies which have large customer base or would like to offer IDOS to a large number of customers under an white label arrangement.<br/>IDOS also invites interested Chartered Accountants, Certified Public Accountants, Accounting firms and tax consultants to collaborate with us and become authorised and certified IDOS solution providers and add a new service line to their business by providing &ldquo;technology based accounting services&rdquo; to their customers.</p>
						<a href="#" class="read-m-link" title="Read More">read more</a>
					</div>
				</div>
				<div class="col-sm-3">
				  <div class="side-group-main">
					  <div class="side-group">
						<a href="more" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Go Back</a>
						<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#know-more">Know More</a>
					  </div>
					  <div class="side-group">
						<img src="assets/website/images/idos-partners.jpg" alt="Idos Partners" class="partnerimages">
					  </div>
				  </div>
				</div>
			</div>
		</div>
	  </div>
	@indexfooter(){
	}
	</main>
  </body>
</html>
