@(fullName: String, email: String, role: String, orgn: model.Organization, allowedProcurement: String)(content: Html)
@if(role.contains("CREATOR")) {
<div class="transactionDetailsTable" id="transactionDetailsMkrfndTable" style="overflow: auto; display: none;">
	<table class="table excelFormTable transaction-create" id="txnMkrfndTable">
		<thead class="tablehead1">
			<tr id="mkrfndHeadTr">
				<th>Branch</th><th>Customer</th>
				<th>Transactions List</th>
				<th>Type of Supply</th><th>Place of Supply</th>
				<th class="paymentDetailsLabel snglUsrDplyDisplay" style="display:none;">Receipt Details</th>
				<th>Transaction notes</th><th>Private notes</th><th>Supporting Docs</th>
			</tr>
		</thead>
		<tbody>
		 <tr id="mkrfndtrid">
			<td>
                <select class="txnBranches" name="mkrfndTxnForBranches" id="mkrfndTxnForBranches" onChange="getCustomerListForBranch(this);"><option value="">--Please Select--</option></select></td>
			<td>
				<select class="masterList" name="mkrfndCustomer" id="mkrfndCustomer" onChange="populatecustvendspecifics(this); getCustomerGstinList(this); getklinvoices(this);"><option value="">--Please Select--</option></select>
				</td>
			<td>

				<select class="salesExpenseTxns" id="mkrfndInvoices" onchange="getInvoiceValue(this);"><option value="">--Please Select--</option></select></td>
			<td>
				<select class="txnTypeOfSupply" id="mkrfndTypeOfSupply" onChange="resetBasedOnTypeOfSupply(this);" disabled="true"><option value="">--Please Select--</option><option value="1">Regular Supply</option><option value="2">Supply applicable for Reverse Charge</option><option value="3">This is an Export Supply</option><option value="4">This is supply to SEZ Unit or SEZ Developer</option><option value="5">This is deemed Export Supply</option><option value="6">Supply made through E-commerce Operator</option><option value="7">Bill of Supply</option></select>
				<p class="para-tm5-bm0" name="withWithoutTaxPara" id="mkrfndWithWithoutTaxPara" style="display: none;">With / Without IGST<select class="txnWithWithoutTaxCls" id="mkrfnndWithWithoutTax" onChange="resetBasedOnWithWithoutTax(this);" disabled="true"><option value="">--Please Select--</option><option value="1">On payment of IGST</option><option value="2">Under Bond / LUT without payment of IGST</option></select></p>
</td>
			<td>
				<select class="placeOfSply txnDestGstinCls" name="txnPlaceOfSply" id="mkrfndPlaceOfSply" disabled="true"></select></td>
			<td id="refAmtpaymentdetailTD" class="paymentDetails snglUsrDplyDisplay" style="display:none;">
					<select name="mkrfndpaymentdetail" id="mkrfndpaymentdetail" class="txnPaymodeCls" onchange="listAllBranchBankAccounts(this);" ><option value="" selected="selected">Select mode of receipt</option><option value="1">CASH</option><option value="2">BANK</option></select>
					<div id="paymentBankDetails"><textarea placeholder="Input Receipt Details" class="txnReceptTextCls" style="margin-top: 10px;" rows="3" name="paymentBranchBankAccount" id="paymentBranchBankAccount"></textarea></div></td>
            <td><textarea  class="voiceRemarksClass" placeholder="Input Remarks" name="mkrfndRemarks" id="mkrfndRemarks" rows="3"></textarea></td>
			<td>
				 <textarea class="mkrfndRemarksClassPrivate" style="margin-bottom: 10px;" name="mkrfndRemarksPrivate" id="mkrfndRemarksPrivate" rows="3" placeholder="Input Private Remarks"></textarea></td>
			<td>
				 <select class="txnUploadSuppDocs" id="mkrfnduploadSuppDocs" name="mkrfnduploadSuppDocs" readonly="readonly"><option value="">--Please Select--</option></select><br>
				<button id="mkrfnduploadSuppDocsBtn" class="fa fa-upload btn btn-submit" onclick="uploadFileBlob(this);"></button>
				<button id="mkrfnduploadSuppDocsDownloadBtn" class="fa fa-download btn btn-submit" onclick="downloadFileBlob(this);"></button>
                <button id="mkrfnduploadSuppDocsDelBtn" class="fa fa-trash btn btn-cancel" style="margin-left:14px;" onclick="deleteUploadedFile(this);"></button>
				<div id="moreSupportingDocDiv" class="moreSupportingDocDiv"></div>
			</td>
		 </tr>
		</tbody>
	</table>
	<span style="width:100%; height:25px; font-size: 11px;">
		<div class="itemParentNameDiv" style="max-width:25%; display:inline-block;"></div><span class="snglUsrDply"><div class="actualbudgetDisplay" style="max-width:25%; display:inline-block;"></div><div class="budgetDisplay" style="max-width:25%; display:inline-block;"></div><div class="amountRangeLimitRule" style="max-width:25%; display:inline-block;"></div></span>
	</span>
	<div id="staticmultipleitemsmkrfnd" class="staticsellmultipleitems" style="overflow: auto; max-height: 350px;">
	   <table class="multipleItemsTable" id="multipleItemsTablemkrfnd">
		   <thead class="tablehead1">
				<tr><th><button style="cursor: pointer; margin-right:2px;" class="addnewItemForTransaction" id="addnewItemForTransaction" title="add more items"><i class="fa fa-plus-circle fa-lg"></i></button>Items</th>
				<th>Advance available for refund</th>
				<th>Witholding Tax (TDS) Available for Reversal</th>
				<th>Advance being Refund Now</th>
				<th>Witholding Tax (TDS) To Reverse Now</th>
				<th>Tax Rate &amp;Amt <div id="taxNameList"></div></th>
				<th>Resultant Adv.</th>
				<th>Witholding Tax</th>
				<th><button style="cursor: pointer;" class="removeItemForTransaction" id="removeItemForTransaction" title="remove item"><i class="fa fa-minus-circle fa-lg"></i></button></th>
				</tr>
			</thead>
			<tbody>
				<tr id="mkrfnd0">
					<td><select class="txnItems" name="mkrfndItems" id="mkrfndItems" onchange="populateRecItemData(this);"><option value="">--Please Select--</option></select></td>
					<td><input type="text" class="advAvailForRefund" name="mkrfndadvAvailForRefund" id="mkrfndadvAvailForRefund" readonly/></td>
					<td><input type="text" class="tdsAvailForRefund" name="mkrfndtdsAvailForRefund" id="mkrfndtdsAvailForRefund" readonly/></td>
					<td><input placeholder="Amount received" class="advanceReceived" type="text" name="advanceReceived" id="mkrfndAmountOfAdvanceReceived" onkeypress="return onlyDotsAndNumbers(event)" onkeyup="calculateResultantRefundAdv(this); getTaxComponentForMakeRefund(this);" onblur="showResultantAdvanceWithWithheldingTax(this);"/>
					</td>
					<td><input type="text" class="taxAdjusted" name="mkrfndTaxAdjusted" placeholder="Tax Withheld" id="mkrfndTaxAdjusted" onkeypress="return onlyDotsAndNumbers(event)" onkeyup="calculateResultantRefundTDS(this);getTaxComponentForMakeRefund(this);" onblur="showResultantAdvanceWithWithheldingTax(this);"/></td>
					<td><div id="taxCell"><div id="taxCell0"></div><div id="taxCell1"></div><div id="taxCell2"></div><div id="taxCell3"></div><div id="taxCell4"></div></div>
						<input type="hidden" class="txnTaxTypes" name="mkrfndTaxtypes" id="mkrfndTaxtypes"/>
					</td>
					<td><input type="text" class="mkrfndadvResultantAdv" name="mkrfndadvResultantAdv" id="mkrfndadvResultantAdv" readonly/></td>
					<td><input type="text" class="mkrfndadvResultantTax" name="mkrfndadvResultantTax" id="mkrfndadvResultantTax" readonly/></td>
					<td><input class="removeTxnCheckBox" type="checkbox" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	<button id="accountingcancelButton" class="compcancelButton btn btn-cancel cancel" title="Cancel" onClick="cancel(); deleteUncomittedFiles();">Cancel Transaction</button>
	<button id="mkrfndssubmitForApproval" class="submitForApproval btn btn-submit btn-custom" title="Submit for Approval">Submit for Approval</button>
</div>
}
