@(fullName:String,email:String,role:String,orgn:model.Organization,allowedProcurement:String)(content: Html)
@if(role.contains("CREATOR")){
	<div class="transactionDetailsTable" id="purchaseRequisitionTxnDivId" style="overflow: auto; display: none;">
		<table class="table excelFormTable">
			<thead class="tablehead1">
				<tr>
					<th>Branch</th>
					<th>Project</th>
					<th><span  id="prCreateBomHead">BOM</span></th>
					<th>Upload Supporting Documents</th>
				</tr>
			</thead>
			<tr id="pcrqttrid">
				<td>
					<select id="prCreateBranchSelection"><option value="">Select Branch</option></select>
				</td>
				<td>
					<select id="prCreateProjectSelect"><option value="">Select Project</option></select>
				</td>
				<td>
					<select id="prCreateBomSelect"><option value="">Select BOM</option></select>
				</td>
				<td>	
						<select id="prqasouploadSuppDocs" name="prqasouploadSuppDocs" class="txnUploadSuppDocs" readonly="readonly"><option value="">--Please Select--</option></select>
						<br>
						<button id="prqasouploadSuppDocsBtn" class="fa fa-upload btn btn-submit" onclick="uploadFileBlob(this);"></button>
						<button id="prqasouploadSuppDocsDownloadBtn" class="fa fa-download btn btn-submit" onclick="downloadFileBlob(this);"></button>
						<button id="prqasouploadSuppDocsDelBtn" class="fa fa-trash btn btn-cancel" style="margin-left:14px;" onclick="deleteUploadedFile(this);"></button>
						  <div id="moreSupportingDocDiv" class="moreSupportingDocDiv"></div>
	
					 
				</td>
			</tr>

		</table>
		<table class="table excelFormTable">
			<thead class="tablehead1">
				<tr>
					<th>Item</th>
					<th>No Of Units</th>
					<th>Unit of Measure</th>
					<th>Preferred Vendor</th>
					<th>Preferred OEM</th>
					<th>Expected Delivery Time</th>
					<th>Type of Item</th>
					<th><button style="cursor: pointer; float:right;" class="" id="addNewItemForPR" title="add more items"><i class="fa fa-plus-circle fa-lg"></i></button></th>
				</tr>

			</thead>
			<tbody id="purchaseRequisitionCreateTableBody">
				
			</tbody>
		</table>
		<Table>
			<tr>
				<td>
					<button id="accountingcancelButton" class="btn btn-cancel btn-customred" title="Cancel" onclick="cancel();">Cancel Transaction</button>
				</td>
				<td>
					<button id="purReqSubmitForApproval" class="submitForApproval btn btn-submit btn-custom" title="Submit for Approval">Submit for Approval</button>
				</td>
			</tr>
		</Table>
	</div>
	<!-- <div class="transactionDetailsTable" id="purchaseRequisitionTxnDivId" style="overflow: auto; display: none;">
		<table class="table excelFormTable transaction-create" id="txnPurchaseRequisitionTbl">
			<thead class="tablehead1">
				<tr>
					<th>Branches  <i class="fa fa-info-circle pl-5 fs-14 help-info userpopoverinfo" longdesc="Please select for which branch or project you want to create this transaction."></i></th>
					<th class="snglUsrDply"><span class="snglUsrDply">Projects</span><i class="fa fa-info-circle pl-5 fs-14 help-info userpopoverinfo" longdesc="Please select for which branch or project you want to create this transaction."></i></th>
					<th>Document Reference</th>
					<th>Transaction notes</th><th>Private notes</th><th>Supporting Docs</th>
				</tr>
			</thead>
			<tbody>
			 <tr id="purreqtrid">
				<td>
					<select class="txnBranches" name="purreqTxnForBranches" id="purreqTxnForBranches" onChange="populateProjectItemBasedOnTxnPurposeBranchSelection(this); getCustomerListForBranch(this); getCoaItems4BomTxnList(this);"><option value="">Please Select</option></select></td>
				<td class="snglUsrDply">
					<select class="txnForProjects" name="purreqTxnForProjects" id="purreqTxnForProjects">
						<option value="">Please Select</option>
					</select>
				</td>
				<td>
					<input class="txnPoReference"  placeholder="Reference" type="text" name="purreq_reference" id="purreqDocReference" maxlength="256"/></td>
				<td>
					<textarea class="voiceRemarksClass" name="purreqRemarks" id="purreqRemarks" rows="3" placeholder="Input Remarks"></textarea></td>

				<td><textarea class="voiceRemarksClassPrivate" name="purreqRemarksPrivate" id="purreqRemarksPrivate" rows="3" placeholder="Input Private Remarks"></textarea></td>
				<td>
					<select id="purrequploadSuppDocs" name="purrequploadSuppDocs" class="txnUploadSuppDocs" readonly="readonly"><option value="">--Please Select--</option></select>
					<br>
					<button id="purrequploadSuppDocsBtn" class="fa fa-upload btn btn-submit" onclick="uploadFileBlob(this);"></button>
					<button id="purrequploadSuppDocsDownloadBtn" class="fa fa-download btn btn-submit" onclick="downloadFileBlob(this);"></button>
                    <button id="purrequploadSuppDocsDelBtn" class="fa fa-trash btn btn-cancel" style="margin-left:14px;" onclick="deleteUploadedFile(this);"></button>
					  <div id="moreSupportingDocDiv" class="moreSupportingDocDiv"></div>
				 </td>
			 </tr>
			</tbody>
		</table>
		<div id="staticsellmultipleitemspurreq"  class="staticsellmultipleitems" style="overflow: auto; max-height:350px; ">
			<table class="multipleItemsTable" id="multipleItemsTablepurreq"  style="margin-top: 5px;">
			  <thead class="tablehead1">
				<tr><th><button class="addnewItemForTransaction" id="addnewItemForTransaction"><i class="fa fa-plus-circle fa-lg"></i></button>Items</th><th>Units in stock</th><th  style="display:none;">Committed Units</th><th>Ordered Units</th><th>Net Units</th><th>Units to purchase</th><th>Vendors</th><th>Expected delivery date</th><th>Knowledge Library</th><th><button class="removeItemForTransaction" id="removeItemForTransaction"><i class="fa fa-minus-circle fa-lg"></i></button></th></tr>
			 </thead>
				<tbody>
					<tr id="purreq0">
						<td><select class="txnItems" id="purreqItem" onChange="onPurchaseOrderItemChange(this);"><option value="">Please Select</option></select></td>
						<td><input class="txnInStockUnit" placeholder="Units in stock" type="text" id="purreqInStockUnit" onkeypress="return onlyDotsAndNumbers(event);" readonly="readonly"></td>
						<td style="display:none;"><input class="txnCommitedUnit" placeholder="Committed Units" type="text" id="purreqCommitedUnit" onkeypress="return onlyDotsAndNumbers(event);"></td>
						<td><input class="txnOrderedUnit" placeholder="Ordered Units" type="text" id="purreqOrderedUnit" onkeypress="return onlyDotsAndNumbers(event);" onkeyup="addAvailableAndOrderedUnits(this);"></td>
						<td><input class="txnNetUnit" placeholder="Net Units" type="text" id="purreqNetUnit" onkeypress="return onlyDotsAndNumbers(event);"></td>
						<td><input class="txnNoOfUnit" type="text" id="purreqNoOfUnit" onkeypress="return onlyDotsAndNumbers(event)" placeholder="Units(if any)"></td>
						<td><select class="masterList" id="purreqVendor"><option value="">--Please Select--</option></select></td>
						<td><input type="text" name="purreqExpDelDate" class="datepicker"></td>
						<td><div class="klBranchSpecfTd"></div></td>
						<td><input class="removeTxnCheckBox" type="checkbox"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		<button id="accountingcancelButton" class="compcancelButton btn btn-cancel cancel" title="Cancel" onClick="cancel(); deleteUncomittedFiles();">Cancel Transaction</button>
		<button id="purreqsubmitForApproval" class="submitForApproval btn btn-submit btn-custom" title="Submit for Approval">Submit for Approval</button>
	</div>


	<div class="transactionDetailsTable" id="purchaseRequisitionAgainstSalesOrderTxnDiv" style="overflow: auto; display: none;">
		<table class="table excelFormTable transaction-create" id="purchaseRequisitionAgainstSalesOrderTxnTbl">
			<thead class="tablehead1">
				<tr>
					<th>Date Range</th>
					<th>Branches  <i class="fa fa-info-circle pl-5 fs-14 help-info userpopoverinfo" longdesc="Please select for which branch or project you want to create this transaction."></i><span class="snglUsrDply"></span><i class="fa fa-info-circle pl-5 fs-14 help-info userpopoverinfo" longdesc="Please select for which branch or project you want to create this transaction."></i></th>
					<th>Bill of Materials</th>
					<th>Customers</th><th>Items/Services</th>
					<th>Transaction notes</th><th>Private notes</th><th>Supporting Docs</th>
				</tr>
			</thead>
			<tbody>
			 <tr id="prqasotrid">
				<td>
				<input class="datepicker" name="txnFromDate" type="text" id="prqasoFromDate"><br>
				<input class="datepicker" name="txnToDate" type="text" id="prqasoToDate"></td>
				<td>
					<select class="txnBranches" name="prqasoTxnForBranches" id="prqasoTxnForBranches" onChange="populateProjectItemBasedOnTxnPurposeBranchSelection(this); getCustomerListForBranch(this); getCoaItems4BomTxnList(this); getPendingBomTxn4Branch(this); getBomIncomeItemsByBranch(this);"><option value="">Please Select</option></select>
					<p class="para-tm5-bm0 snglUsrDply">Project</p>
					<select class="txnForProjects" name="prqasoTxnForProjects" id="prqasoTxnForProjects">
						<option value="">Please Select</option>
					</select>
				</td>
				<td>
					<select class="txnBomCls" name="prqasoTxnBom" id="prqasoTxnBom" onChange="resetMultiBomTableLength('multipleItemsTableprqaso'); resetMultiItemsTableData('multipleItemsTableprqaso'); getBillOfMaterialTxnDetail(this);">
						<option value="">Please Select</option>
					</select>
				</td>
				<td><select class="masterList" name="prqasoCutomer" id="prqasoCutomer"><option value="">--Please Select--</option></select></td>
				<td><select class="txnItems" id="txnBomIncomeItemId"></select></td>
				<td><textarea class="voiceRemarksClass" name="prqasoRemarks" id="prqasoRemarks" rows="3" placeholder="Input Remarks"></textarea></td>
				<td><textarea class="voiceRemarksClassPrivate" name="prqasoRemarksPrivate" id="prqasoRemarksPrivate" rows="3" placeholder="Input Private Remarks"></textarea></td>
				<td>
					<select id="prqasouploadSuppDocs" name="prqasouploadSuppDocs" class="txnUploadSuppDocs" readonly="readonly"><option value="">--Please Select--</option></select>
					<br>
					<button id="prqasouploadSuppDocsBtn" class="fa fa-upload btn btn-submit" onclick="uploadFileBlob(this);"></button>
					<button id="prqasouploadSuppDocsDownloadBtn" class="fa fa-download btn btn-submit" onclick="downloadFileBlob(this);"></button>
                    <button id="prqasouploadSuppDocsDelBtn" class="fa fa-trash btn btn-cancel" style="margin-left:14px;" onclick="deleteUploadedFile(this);"></button>
					  <div id="moreSupportingDocDiv" class="moreSupportingDocDiv"></div>

				 </td>
			 </tr>
			</tbody>
		</table>
		<div id="staticsellmultipleitemsprqaso"  class="staticsellmultipleitems" style="overflow: auto; max-height:350px; ">
			<table class="multipleItemsTable" id="multipleItemsTableprqaso"  style="margin-top: 5px;">
			  <thead class="tablehead1">
				<tr><th><button class="addnewItemForTransaction" id="addnewItemForTransaction"><i class="fa fa-plus-circle fa-lg"></i></button>Items</th><th>Units in stock</th><th style="display:none;">Committed Units</th><th>Ordered Units</th><th>Net Units</th><th>Vendors</th><th>Units to purchase</th><th>Price Per Units<th>Total Price</th><th>Place of Supply</th><th>Confirm PO</th><th><button class="removeItemForTransaction" id="removeItemForTransaction"><i class="fa fa-minus-circle fa-lg"></i></button></th></tr>
			 </thead>
				<tbody>
					<tr id="prqaso0">
						<td><select class="txnItems" id="prqasoItem" onChange="onPurchaseOrderItemChange(this);"><option value="">Please Select</option></select></td>
						<td><input class="txnInStockUnit" placeholder="Units in stock" type="text" id="prqasoInStockUnit" onkeypress="return onlyDotsAndNumbers(event);" onkeyup="addAvailableAndOrderedUnits(this);"></td>
						<td style="display:none;"><input class="txnCommitedUnit" placeholder="Committed Units" type="text" id="prqasoCommitedUnit" onkeypress="return onlyDotsAndNumbers(event);"></td>
						<td><input class="txnOrderedUnit" placeholder="Ordered Units" type="text"  id="prqasoOrderedUnit" onkeypress="return onlyDotsAndNumbers(event);" onkeyup="addAvailableAndOrderedUnits(this);"></td>
						<td><input class="txnNetUnit" placeholder="Net Units" type="text" id="prqasoNetUnit" onkeypress="return onlyDotsAndNumbers(event);"></td>
						<td><select class="masterList" name="prqasoVendor" id="prqasoVendor" onchange="getVendorGstinList(this);"><option value="">--Please Select--</option></select></td>
						<td><input class="txnNoOfUnit" type="text" id="prqasoNoOfUnit" onkeypress="return onlyDotsAndNumbers(event)" placeholder="Units(if any)" onkeyup="calculateTotalItemPriceBomPurchaseReqTxn(this);"></td>
						<td><input class="txnPerUnitPrice" placeholder="Price Per Unit" type="text"  id="prqasoPricePerUnits" onkeypress="return onlyDotsAndNumbers(event);" onkeyup="calculateTotalItemPriceBomPurchaseReqTxn(this);"/></td>
						<td><input class="txnTotalPrice" placeholder="Total Price" type="text" id="prqasoTotalPrice" readonly="readonly"></td>
						<td><select class="placeOfSply txnDestGstinCls" id="prqasoPlaceOfVend"><option value="">--Please Select--</option></select></td>
						<td>&nbsp;<input class="txnConfimPoCheckBox" type="checkbox"/></td>
						<td><input class="removeTxnCheckBox" type="checkbox"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		<button id="accountingcancelButton" class="compcancelButton btn btn-cancel cancel" title="Cancel" onClick="cancel(); deleteUncomittedFiles();">Cancel Transaction</button>
		<button id="prqasosubmitForApproval" class="submitForApproval btn btn-submit btn-custom" title="Submit for Approval">Submit for Approval</button>
	</div> -->
}
