<!DOCTYPE html>
<html lang="en">
  <head>
    <title>::Welcome to IDOS::</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="assets/website/images/logo.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="assets/website/css/style.css" rel="stylesheet">
	<!-- [if lt IE 9]
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
	@indexhead(){
	}
	<main>
	  <div class="fullwh optionz poser">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="assets/website/images/idos-faciliate-compliances.jpg" class="img-fluid none-for-ie" alt="Image">
					<div class="fit-for-ie" style="background-image:url('images/idos-faciliate-compliances.jpg');"></div>
				</div>
				<div class="col-sm-5">
					<h1>How does IDOS facilitate compliance?</h1>
					<div class="small-bar"></div>
					<div class="para-read-more">
						<p class="content-para ellipsed"><strong>Internal financial controls</strong>IDOS has an in-built capability, which enables the organization to achieve reasonable assurance regarding the following aspects in the accounting and reporting process:<br/><i class="fas fa-arrow-circle-right"></i> the reliability and integrity of accounting &amp; financial data<br/><i class="fas fa-arrow-circle-right"></i> compliance with policies, procedures, laws and regulations<br/><i class="fas fa-arrow-circle-right"></i> efficiency in operations and reduced turnaround time<br/>Further, IDOS enables organizations to customise these capabilities to seamlessly integrate them with internal control processes which are specifically suited and designed for that organization.</p>
						<a href="#" class="read-m-link" title="Read More">read more</a>
					</div>
					<div class="para-read-more">
						<p class="content-para ellipsed"><strong>GST / VAT / CESS / withholding tax / TDS</strong>Computation, accounting and compliance to taxes is a major challenge faced by every business. The staff managing these functions need to be well versed with these regulations and ensure that the tax regulations are adhered to and accurately accounted, so as to facilitate timely and accurate filing of the returns. IDOS enables the business in accurately computing, accounting and reporting of these taxes, whereby the software automatically, identifies the applicable tax, tax percentage, computes the tax and accounts it in appropriate ledgers, within seconds. It provides email alerts to the users to facilitate timely filing of tax returns.</p>
						<a href="#" class="read-m-link" title="Read More">read more</a>
					</div>
				</div>
				<div class="col-sm-3">
				  <div class="side-group-main">
					  <div class="col-sm-12 idox-list">
						<a href="more" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Go Back</a>
						<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#know-more">Know More</a>
					  </div>
				  </div>
				</div>
			</div>
		</div>
	  </div>
	@indexfooter(){
		}
	</main>
  </body>
</html>
