<!DOCTYPE html>
<html lang="en">
  <head>
    <title>::Welcome to IDOS::</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="assets/website/images/logo.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="assets/website/css/style.css" rel="stylesheet">
	<!-- [if lt IE 9]
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
	@indexhead(){
	}
	<main>
	  <div class="fullwh optionz poser">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="assets/website/images/idos-faciliate.jpg" class="img-fluid none-for-ie" alt="Image">
					<div class="fit-for-ie" style="background-image:url('assets/website/images/idos-faciliate.jpg');"></div>
				</div>
				<div class="col-sm-5">
					<h1>How can IDOS facilitate ease of doing business?</h1> 
					<div class="small-bar"></div>
					<div class="para-read-more">
						<p class="content-para ellipsed"><strong>Automation:</strong>Implementing any software is expected to enable the business to reduce human effort and increase process efficiency. IDOS facilitates this, through a very simple to use, yet powerful accounting software. IDOS enables the business to collate all the financial data and automatically completes bookkeeping, accounting &amp; reporting in adherence to internal financial controls and regulatory compliance.</p>
						<a href="#" class="read-m-link" title="Read More">read more</a>
					</div>
					<div class="para-read-more"> 
						<div class="content-para ellipsed longer1">
							<p><strong>Reliability of data:</strong>IDOS provides accurate accounting &amp; financial data in seconds. This enhancesthe ability of the organization to monitor and control the mission critical business processes such as budgeting, working capital, receivables, payables and Key Performance Indicators. The unique value proposition of IDOS is that automation significantly enhances accuracy. This empowers businesses across the globe, to use IDOS data for mission critical business processes and for decision making.</p>
							<div class="para-read-more">
								<p class="content-para ellipsed"><strong>Decision making reporting:</strong>IDOS is not focused on just accounting &amp; data management, it is also focused on (unlike traditional accounting software and ERPs) empowering business managers to take decisions and empowering organisations to utilise the power of data for increasing their revenue &amp; profitability.<br/>The users are not expected to be knowledgeable about accounting or compliance, since the software has automated the accounting and compliances processes. IDOS enables the business to avail its advantages without having to invest on trained manpower or additional physical infrastructure. IDOS by virtue of its capabilities, is a Digital CFO for businesses and empowers every business to focus on growth and prosperity by managing their mission critical accounting, compliance and financial processes.</p>
								<a href="#" class="read-m-link" title="Read More">read more</a>
							</div>
						</div>
						<a href="#" class="read-m-link" title="Read More">read more</a>
					</div>
				</div>
				<div class="col-sm-3">
				  <div class="side-group-main">
					  <div class="col-sm-12 idox-list">
						<a href="more" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Go Back</a>
						<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#know-more">Know More</a>
					  </div>
				  </div>
				</div>
			</div>
		</div>
	  </div>
		@indexfooter(){
		}
	</main>
  </body>
</html>
