<!DOCTYPE html>
<html lang="en">
  <head>
    <title>::Welcome to IDOS::</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="assets/website/images/logo.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="assets/website/css/style.css" rel="stylesheet">
	<!-- [if lt IE 9]
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
	  @indexhead(){
	  }
	<main>
	  <div class="fullwh optionz poser">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="assets/website/images/mnc-company.jpeg" class="img-fluid none-for-ie" alt="Image">
					<div class="fit-for-ie" style="background-image:url('images/mnc-company.jpeg');"></div>
				</div>
				<div class="col-sm-5">
					<h1>We are a large company with a functioning ERP. How is IDOS relevant to us?</h1>
					<div class="small-bar"></div>
					<div class="para-read-more">
						<p class="content-para ellipsed"><strong>Digital transformation</strong>Large organizations are competing in a technology driven market place, making it imperative to adopt software which brings in significant automation in their processes and helps them to become agile in their operations. IDOS enables large companies to become nimble and highly efficient with respect to their processes and operations in order to meet the challenges of the constantly changing business eco-system by enabling them to take advantage of highly scalable cloud applications built by IDOS and empowering them with blockchain, artificial intelligence &amp; machine learning capabilities.</p>
						<a href="#" class="read-m-link" title="Read More">read more</a>
					</div>
					<div class="para-read-more">
						<div class="content-para ellipsed longer1">
							<p><strong>Upgrade or replace</strong>IDOS enables large companies,to either upgrade their ERP or replace their legacy ERP or provide specific modules which are either not available in the current ERP or would cost more / take very long to implement in their existing ERPs. Ease of use, speed and efficiency of development &amp; deployment and low cost of ownership and maintenance are the hall mark of IDOS.</p>
							<div class="para-read-more">
								<p class="content-para ellipsed"><strong>Customise and integrate specific module</strong>IDOS is highly customizable and can provide the business with specific modules relating to any accounting, taxation, payroll, HRMS, inventory, e-procurement, treasury, distribution, customer &amp; vendor management, fixed assets, financial or reporting requirements. IDOS is capable of taking input from any existing application / ERP, execute the functions and provide the output through reports or dashboard within IDOS application or in a format that can be integrated with existing ERP or other application currently used by the business.</p>
								<a href="#" class="read-m-link" title="Read More">read more</a>
							</div>
							<div class="para-read-more">
								<p class="content-para ellipsed"><strong>Corporate mobile applications</strong>Companies need applications which can be accessed from anywhere and at any time and by any authorised user. With explosive growth in adoption of smart mobile phones, it’s imperative that the core business processes are made available through corporate mobile applications, through which the stakeholders and employees can process transactions and view reports in real-time. IDOS provides, user friendly corporate mobile applications which are made specifically for each corporate customer and which can be used only by authorised employees / stakeholders of that company, for specific processes or operational requirements.</p>
								<a href="#" class="read-m-link" title="Read More">read more</a>
							</div>
						</div>
						<a href="#" class="read-m-link" title="Read More">read more</a>
					</div>
				</div>
				<div class="col-sm-3">
				  <div class="side-group-main">
					  <div class="side-group">
						  <div class="col-sm-12 idox-list">
							<a href="more" class="btn btn-secondary btn-block"><i class="fas fa-angle-left"></i> Go Back</a>
						  </div>
					  </div>
					  <div class="side-group">
						  <div class="col-sm-12 idox-list">
							  <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myidos-features">Features</a>
							  <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#capabilities">Key Capabilites</a>
							<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#case-studies">Case Studies</a>
							<!--<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#use-case">Use Cases</a>-->
							<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#know-more">Know More</a>
						  </div>
					  </div>
					  <!--<div class="side-group">
						  <h4><i class="fas fa-play-circle"></i> Play Video</h4>
						  <iframe height="148" src="https://www.youtube-nocookie.com/embed/vzXFLapRlU8?rel=0&amp;showinfo=0" frameborder="0" style="width:100%;" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					  </div>-->
				  </div>
				</div>
			</div>
		</div>
	  </div>
		@indexfooter(){
		}
	</main>
	<div class="modal fade" id="capabilities">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title">Key Capabilities</h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		  </div>
		  <div class="modal-body">
			<div class="capiTable hidemobile">
			  <div class="capiTableBody">
				<div class="capiTableRow">
				  <div class="capiTableHead">Off-the-shelf capabilities</div>
				  <div class="capiTableHead">Customisation as per business requirements</div>
				  <div class="capiTableHead">International Development</div>
				</div>
			  </div>
			</div>
			<div class="capiBlock">
			<div class="capiTable">
			  <div class="capiTableBody">
				<div class="capiTableRow">
				  <div class="capiTableCell">
					<h5 class="mobile-only">Off-the-shelf capabilities</h5>
					<ul>
					  <li>
						<p>Automatic</p>
						<ul>
							<li><i class="fas fa-arrow-circle-right"></i>accounting entries &amp; ledger posting.</li>
							<li><i class="fas fa-arrow-circle-right"></i>computation of tax (GST) for sales transactions</li>
							<li><i class="fas fa-arrow-circle-right"></i>generation of GST Compliant invoice for sales transactions</li>
							<li><i class="fas fa-arrow-circle-right"></i>computation of withholding tax (TDS) </li>
							<li><i class="fas fa-arrow-circle-right"></i>accounting of GST / TDS under correct ledger accounts</li>
							<li><i class="fas fa-arrow-circle-right"></i>computation &amp; accounting of reverse charge under GST</li>
							<li><i class="fas fa-arrow-circle-right"></i>real-time Trial balance updation</li>
							<li><i class="fas fa-arrow-circle-right"></i>generation of profit &amp; loss account and balance sheet in vertical format</li>
							<li><i class="fas fa-arrow-circle-right"></i>passing of contra entries</li>
							<li><i class="fas fa-arrow-circle-right"></i>reconciliation of receivables &amp; payables (debtors &amp; creditors)</li>
							<li><i class="fas fa-arrow-circle-right"></i>analysis of receivables &amp; payables (debtors &amp; creditors)</li>
							<li><i class="fas fa-arrow-circle-right"></i>control of customer credit limits before making credit sales</li>
							<li><i class="fas fa-arrow-circle-right"></i>alert for overdue receivables &amp; payables</li>
							<li><i class="fas fa-arrow-circle-right"></i>compliance to Internal Financial Controls</li>
							<li><i class="fas fa-arrow-circle-right"></i>real-time internal audit of transactions</li>
							<li><i class="fas fa-arrow-circle-right"></i>budgetary control of expenses &amp; real-time alert for expenses exceeding budget</li>
							<li><i class="fas fa-arrow-circle-right"></i>generation of decision making reports using Microsoft Excel add-in</li>
							<li><i class="fas fa-arrow-circle-right"></i>real-time Multi-location accounting</li>
							<li><i class="fas fa-arrow-circle-right"></i>combination sales</li>
							<li><i class="fas fa-arrow-circle-right"></i>Real-time bill-to-bill matching of invoice receipts and payments</li>
						</ul>
					  </li>
					  <li>Bank reconciliation statement
					  <li>Download of ledgers and reports into Microsoft Excel
					  <li>World class disaster recovery and data security on Microsoft Azure
					  <li>Expense management and accounting with approvals &amp; monetary limits
					  <li>Combination sales for retail traders</li>
					  <li>Change classification of line items in Profit &amp; Loss account and balance sheet at any time</li>
					  <li>Expense claims management &amp; accounting with monetary limits &amp; approval capability</li>
					  <li>Travel advance &amp; settlement and accounting with approvals and automated eligibility management</li>
					  <li>Upload of bills and supporting documents for all transactions</li>
					  <li>Customer &amp; vendor engagement for balance confirmation</li>
					  <li>Dashboard and reports with graphs</li>
					  <li>Audit trial of all transactions from Trial balance to source of the transaction with one click</li>
					  <li>Free login for auditors</li>
					  <li>On-line audit of transactions and audit notes</li>
					  <li>No need for dedicated hardware</li>
					</ul>
				  </div>
				  <div class="capiTableCell">
					<h5 class="mobile-only">Customisation as per business requirements</h5>
					<ul>
						<li>Dedicated mobile app for the company</li>
						<li>Automated month end provision entries &amp; reversal</li>
						<li>Automated adjustment of prepaid expenses</li>
						<li>Automated order management &amp; accounting</li>
						<li>Manufacturing Inventory accounting, valuation &amp; management</li>
						<li>Vendor management &amp; E Procurement</li>
						<li>Payroll</li>
						<li>HRMS</li>
						<li>Incentive management &amp; accounting</li>
						<li>Distribution accounting</li>
						<li>Project management</li>
						<li>Time tracking</li>
						<li>Advanced budgeting</li>
						<li>Investment accounting</li>
						<li>Fixed assets &amp; depreciation automation and accounting</li>
						<li>Working capital management</li>
						<li>Trend analysis</li>
						<li>Fraud analytics &amp; exception reporting</li>
						<li>CRM</li>
						<li>Bar code integration</li>
						<li>Business specific automated reports</li>
						<li>Advanced document management</li>
						<li>Advanced analytics</li>
						<li>Mobile application (specifically available for your company)</li>
						<li>Automated accounting for job works &amp; contracts</li>
						<li>E-Commerce integration</li>
						<li>Project-wise accounting, reporting &amp; analytics for construction companies / builders (with real-time consolidation across different projects and company-wise / SPV-wise accounts, profitability analysis &amp; reports)</li>
						<li>Holding / subsidiary company accounting &amp; Group-level consolidation &amp; reporting</li>
						<li>Migration of existing data to IDOS</li>
						<li>Hybrid data management (offline / online)</li>
						<li>Thousands of concurrent users</li>
					</ul>
				  </div>
				  <div class="capiTableCell">
					<h5 class="mobile-only">International Development</h5>
					<ul>
						<li>Required features of SaaS &amp; Enterprise</li>
						<li>Budget alignments &amp; realignments</li>
						<li>Time &amp; Material management &amp; accounting</li>
						<li>Project / site office reporting &amp; real-time consolidated accounting &amp; reporting at Head Office</li>
						<li>Labour hiring, management, accounting, regulatory, tax compliance &amp; reporting</li>
						<li>Local currency accounting, conversion from local currency to home office currency and multi-currency accounting</li>
						<li>Trend analysis and financial projections</li>
						<li>Company specific business reports and analytics</li>
						<li>Real-time process audit and exceptions reporting</li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="use-case">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title">Use Cases</h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		  </div>
		  <div class="modal-body">
			<div class="row">
				<div class="col-sm-4">
					<img src="assets/website/images/use-case-icon1.png" class="img-fluid use-case-icon" alt="Image">
					<p>Does your accounting<br/>information's have errors?</p>
					<h4 class="use-case-title">IDOS is <span>ACCURATE</span></h4>
				</div>
				<div class="col-sm-4">
					<img src="assets/website/images/use-case-icon2.png" class="img-fluid use-case-icon" alt="Image">
					<p>Are GST, TDS and<br/>Receivables a hassle?</p>
					<h4 class="use-case-title">IDOS is <span>AUTOMATED</span></h4>
				</div>
				<div class="col-sm-4">
					<img src="assets/website/images/use-case-icon3.png" class="img-fluid use-case-icon" alt="Image">
					<p>Does accounting confuse<br/>you?</p>
					<h4 class="use-case-title">IDOS is <span>EASY</span></h4>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="case-studies">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-body">
			<a href="#" class="close" data-dismiss="modal">&times;</a>
			<div class="row">
				<div class="col-sm-4">
					<a href="casestudies15" title="Case Study &ndash; Service" class="case-study-option"><img src="assets/website/images/case-studies-service.jpg" class="img-fluid" alt="Service"><p><span><i class="fas fa-wrench"></i> Service</span></p></a>
				</div>
				<div class="col-sm-4">
					<a href="casestudies16" title="Case Study &ndash; Service" class="case-study-option"><img src="assets/website/images/case-studies-startup.jpg" class="img-fluid" alt="Startup"><p><span><i class="fas fa-rocket"></i> Startup</span></p></a>
				</div>
				<div class="col-sm-4">
					<a href="casestudies17" title="Case Study &ndash; Service" class="case-study-option"><img src="assets/website/images/case-studies-manufacturing.jpg" class="img-fluid" alt="Manufacturing"><p><span><i class="fas fa-industry"></i> Manufacturing</span></p></a>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>


<div class="modal fade" id="myidos-features">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Key Features</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-4 text-center">
				<div class="col-sm-12 nogap" data-container="body" data-toggle="popover" data-placement="bottom" data-content="IDOS has automated the process of passing journal entries. Just tell the software what transaction you wish to process and IDOS will automatically update the ledgers (including inventory where applicable), compute tax and generate Invoice or other receipts with just one click.">
                <img class="img-circle img-responsive img-center" src="assets/website/images/myidos-icon-1.png" alt="">
                <p class="title"><b>Automatic Accounting</b></p>
				</div>
            </div>
            <div class="col-sm-4 text-center">
			   <div class="col-sm-12 nogap" data-container="body" data-toggle="popover" data-placement="bottom" data-content="An accounting transaction does not begin when it is recorded in the software. There are certain internal control compliances, such as expense approval, supporting documents, credit limits, discount %, expense budgets, pre-approved vendors, etc, which need to be adhered to before the transaction is processed. IDOS automates internal financial controls and processes and integrates them into accounting process.">
                <img class="img-circle img-responsive img-center" src="assets/website/images/myidos-icon-2.png" alt="">
                <p class="title"><b>Internal Control Compliance</b></p>
			   </div>
            </div>
            <div class="col-sm-4  text-center">
			  <div class="col-sm-12 nogap" data-container="body" data-toggle="popover" data-placement="bottom" data-content="IDOS is an intelligent software, that knows when to apply withholding tax (TDS), when to apply GST / VAT / CESS and other taxes. It even know how to compute and account for these taxes so that the users need not worry about tax compliance relating to their business. IDOS even generates GST compliant invoices and advance receipt vouchers.">
                <img class="img-circle img-responsive img-center" src="assets/website/images/myidos-icon-3.png" alt="">
                <p class="title"><b>Regulatory Compaliance</b></p>
			  </div>
            </div>
            <div class="col-sm-4  text-center">
			  <div class="col-sm-12 nogap" data-container="body" data-toggle="popover" data-placement="bottom" data-content="IDOS provides a dashboard which displays decision making reports, across all your projects and business segments with just one click. In addition, IDOS has integrated with Microsoft Office 365 to automatically populate your business reports in Microsoft Excel On-line, thereby eliminating the need for you to download the data from your accounts and other systems into Excel to prepare reports, thereby saving significant time and cost on report generation.">
                <img class="img-circle img-responsive img-center" src="assets/website/images/myidos-icon-4.png" alt="">
                <p class="title"><b>Business Reports</b></p>
			  </div>
            </div>
            <div class="col-sm-4 text-center">
			  <div class="col-sm-12 nogap" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Do you travel on work, does your work require you to be away from office often? Do you face situations where you are in a meeting and you urgently need some data from office? IDOS enables you to have access to your accounts and reports at any time and from anywhere. You can even supervise your staff when you are traveling and set up controls in a way that you can approve expenses / transactions before they are processed.">
                <img class="img-circle img-responsive img-center" src="assets/website/images/myidos-icon-5.png" alt="">
                <p class="title"><b>Remote Supervision &amp; Control</b></p>
			  </div>
            </div>
            <div class="col-sm-4 text-center">
			  <div class="col-sm-12 nogap" data-container="body" data-toggle="popover" data-placement="bottom" data-content="IDOS has the unique capability to help you manage the accounts of each branch / project separately at different locations and it automatically consolidates the accounts across branches / projects / business segments and automatically provides you with reports both on consolidated basis as well as on branches / projects / business segment basis.">
                <img class="img-circle img-responsive img-center" src="assets/website/images/myidos-icon-6.png" alt="">
                <p class="title"><b>Multi Branch / Project</b></p>
			  </div>
            </div>
            <div class="col-sm-4 text-center">
			  <div class="col-sm-12 nogap" data-container="body" data-toggle="popover" data-placement="bottom" data-content="IDOS is one of the first accounting software to use Artificial intelligence and machine learning technologies to deliver high performance solution for all your business problems. It automates most of your routine accounting, compliance and reporting activities and even helps you in taking business decisions by providing trend analytics, working capital analytics and advanced analytical reports, which you can use to generate more revenues and reduce your operating costs.">
                <img class="img-circle img-responsive img-center" src="assets/website/images/myidos-icon-7.png" alt="">
                <p class="title"><b>Artificial Intelligence</b></p>
			  </div>
            </div>
            <div class="col-sm-4 text-center">
			  <div class="col-sm-12 nogap" data-container="body" data-toggle="popover" data-placement="bottom" data-content="What do you do when your tap is leaking? Do you call the doctor? No, you call for the plumber. Every person has a defined role in the company and the transactions which a sales person has to process are different from transactions which a stores in-charge has to process. IDOS provides access to different staff in the company to those ledgers / line items which are relevant to them so that you can maintain business confidentiality and privacy and not open up all your accounts to every person that uses the accounting software.">
                <img class="img-circle img-responsive img-center" src="assets/website/images/myidos-icon-8.png" alt="">
                <p class="title"><b>Role Based Access</b></p>
			  </div>
            </div>
            <div class="col-sm-4 text-center">
			  <div class="col-sm-12 nogap" data-container="body" data-toggle="popover" data-placement="bottom" data-content="IDOS enables you to manage your travel and expense claims accurately and in accordance to basic principles of accounting &amp; audit. It helps your staff to know what they are eligible for and permits them to apply for travel advance and expense reimbursement, as per their eligibility criteria. Further IDOS enables you to account for the travel, boarding &amp;
			  lodging transactions under advances or under expenses correctly and automatically classifies the expenses under different heads of expense. Further, IDOS enables you to comply to GST regulations with respect to your travel &amp; expense claims.">
                <img class="img-circle img-responsive img-center" src="assets/website/images/myidos-icon-9.png" alt="">
                <p class="title"><b>Travel &amp; Expense Claims</b></p>
			  </div>
            </div>

            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
