<!DOCTYPE html>
<html lang="en">
  <head>
    <title>::Welcome to IDOS::</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="assets/website/images/logo.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="assets/website/css/style.css" rel="stylesheet">
	<!-- [if lt IE 9]
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
	@indexhead(){
}
	<main>
	  <div class="fullwh optionz poser">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="assets/website/images/goods-services.png" class="img-fluid none-for-ie display-none-mobile" alt="Image">
					<img src="assets/website/images/goods-services-mobile.png" class="img-fluid only-on-mobile" alt="Image">
					<div class="fit-for-ie display-none-mobile" style="background-image:url('images/goods-services.png');"></div>
				</div>
				<div class="col-sm-5">
					<h1>Can we sell our goods and services to IDOS users?</h1>
					<div class="small-bar"></div>
					<div class="para-read-more">
						<p class="content-para ellipsed lgtxt">IDOS is a b2b e commerce platform for business users. We provide an unique opportunity to every business to offer their goods and services to IDOS business users, through our application. Businesses which use IDOS accounting software are spread across the country and across the globe. If you are selling any goods or services and would like to offer them to businesses which use IDOS software, all you need to do is, register yourself on our vendor platform, provide correct information including what you wish to sell on our platform and the price of your goods or services. We will make this information available to our business customers, who would be looking for goods or services that you sell and provide your contact details, so that they can contact you and do business with you. Click <a href="signUp#sellerAccountRegDiv" title="Click here">here</a> to register your business on IDOS.</p>
						<a href="#" class="read-m-link" title="Read More">read more</a>
					</div>
				</div>
				<div class="col-sm-3">
				  <div class="col-sm-12 idox-list">
					<a href="more" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Go Back</a>
					<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#know-more">Know More</a>
				  </div>
				</div>
			</div>
		</div>
	  </div>
	  @indexfooter(){
	  }
	</main>
  </body>
</html>
