@(configParams:model.ConfigParams)
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link rel="shortcut icon" href="assets/website/img/logo.ico"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<head>
    <title>@(configParams.getCompanyApp()) The Digital CFO</title>
	<style>
		p{
			padding:0 px !important;
		}
		table tbody tr table tr {
			height: 25px;
			padding: 0 !important;
		}
		table tbody tr td table tr td{
			height: 25px;
			padding: 0 !important;
		}
		.heading {
			background-color:#bcdeff;
			font-weight: bold;
		}
    </style>
	
    <!-- Social Icons CSS -->
    <link rel="shortcut icon" href="assets/website/img/logo.ico"/>
    <link href="assets/website/css/bootstrap-social.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="assets/website/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/website/css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/website/css/modern-business.css" rel="stylesheet">
    <link href="assets/website/css/round-about.css" rel="stylesheet">
    <link href="assets/website/css/footer.css" rel="stylesheet">
    <link href="assets/website/css/sliderjs.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/website/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Arimo|Oswald|Raleway:400,800,900,600,700,600italic' rel='stylesheet' type='text/css'>
	<link href="assets/website/css/home.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="assets/website/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	 <script src="assets/website/js/jquery.js"></script>
	<script src="assets/website/js/sliderjs.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/website/js/bootstrap.min.js"></script>  

    <!-----Google Analytics Start----->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72593005-1', 'myidos.com');
	  ga('send', 'pageview');

	</script>
    <!-----Google Analytics End----->
	<!--Start of Tawk.to Script-->
		<script type="text/javascript">
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/5804a5699ca1830bdc94a852/default';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
		</script>
	<!--End of Tawk.to Script-->
    <script>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }
    </script>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-light navbar-fixed-top  " role="navigation" style="background-color: #ffffff;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <strong>MENU</strong>
            </button>
            <a class="navbar-brand" href="/">
                <img src="assets/website/img/logof.png" width="160" height="35" alt="">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
			<li>
			   <button class="rr"><a href="/requestdemo" id="menu"><strong>Request a Demo</strong></a></button>
			</li>
            </ul>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
	</div>
</nav>

<!-- Header Carousel -->


<div style="padding-left:5px; padding-right:5px;" id="toc">
	<div style="background-color: #bcdeff;">
		</br>
		<p style="text-align: center; font-size: 20px;">
			<strong>GST KNOWLEDGE BANK</strong></p>
		</br>
		<p style="margin-left:100px;">
			<strong>TABLE OF CONTENTS</strong>
		</p>
	</div>
	<table class="table table-bordered excelFormTable" >
		<thead class="tablehead1">
		<tr>
			<th>
				<p><strong>A</strong></p>
			</th>
			<th>
				<p><strong>&nbsp;</strong></p>
			</th>
			<th>
				<p><strong>OVERVIEW</strong></p>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>1</p>
			</td>
			<td width="582">
				<a href="#q1"><p>What is GST?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>2</p>
			</td>
			<td width="582">
				<a href="#q2"><p>Who is liable to pay GST?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>3</p>
			</td>
			<td width="582">
				<a href="#q3"><p>What is supply of goods/services?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>4</p>
			</td>
			<td width="582">
				<a href="#q4"><p>Who needs to register for GST compulsorily?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>5</p>
			</td>
			<td width="582">
				<a href="#q5"><p>Can a person voluntarily register for GST?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>6</p>
			</td>
			<td width="582">
				<a href="#q6"><p>Who needs to register for GST irrespective of turnover limits?</p></a>
			</td>
		</tr>
		<thead>
		<tr>
			<th width="47">
				<p><strong>B</strong></p>
			</th>
			<th width="42">
				<p><strong>&nbsp;</strong></p>
			</th>
			<th width="582">
				<p><strong>REGISTRATION</strong></p>
			</th>
		</tr>
		</thead>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>7</p>
			</td>
			<td width="582">
				<a href="#q7"><p>Where to register for GST?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>8</p>
			</td>
			<td width="582">
				<a href="#q8"><p>How to register for GST?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>9</p>
			</td>
			<td width="582">
				<a href="#q9"><p>If a person is operating in different states, with the same PAN, can he operate with a single
					registration?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>10</p>
			</td>
			<td width="582">
				<a href="#q10"><p>Whether a person having multiple business verticals in a state can obtain different registrations for
					each such vertical?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>11</p>
			</td>
			<td width="582">
				<a href="#q11"><p>What are the different types of taxes covered under GST?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>12</p>
			</td>
			<td width="582">
				<a href="#q12"><p>In what circumstances are SGST, CGST, IGST and UTGST applicable?</p></a>
			</td>
		</tr>
		<tr>
			<th width="47">
				<p><strong>C</strong></p>
			</th>
			<th width="42">
				<p><strong>&nbsp;</strong></p>
			</th>
			<th width="582">
				<p><strong>ACCOUNTING REQUIREMENTS</strong></p>
			</th>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>13</p>
			</td>
			<td width="582">
				<a href="#q13"><p>What ledgers do I need to maintain for GST?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>14</p>
			</td>
			<td width="582">
				<a href="#q14"><p>When to account for GST on outward supplies?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>15</p>
			</td>
			<td width="582">
				<a href="#q15"><p>When to account for GST on inward supplies?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>16</p>
			</td>
			<td width="582">
				<a href="#q16"><p>Is there a format for GST invoice?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>17</p>
			</td>
			<td width="582">
				<a href="#q17"><p>How many copies of invoice have to be generated and for what purpose?</p></a>
			</td>
		</tr>
		<tr>
			<th width="47">
				<p><strong>D</strong></p>
			</th>
			<th width="42">
				<p><strong>&nbsp;</strong></p>
			</th>
			<th width="582">
				<p><strong>INPUT CREDIT</strong></p>
			</th>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>18</p>
			</td>
			<td width="582">
				<a href="#q18"><p>Is input credit allowed under GST?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>19</p>
			</td>
			<td width="582">
				<a href="#q19"><p>On what category of goods/services is input credit allowed?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>20</p>
			</td>
			<td width="582">
				<a href="#q20"><p>Whether input tax credit on capital goods is allowed in one instalment?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>21</p>
			</td>
			<td width="582">
				<a href="#q21"><p>What are the basic conditions for availing input credit?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>22</p>
			</td>
			<td width="582">
				<a href="#q22"><p>What is the maximum time limit to claim input tax credit?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="42">
				<p>23</p>
			</td>
			<td width="582">
				<a href="#q23"><p>In what order should SGST, CGST and IGST input credit be utilised?</p></a>
			</td>
		</tr>
		<tr>
			<th width="47">
				<p><strong>E</strong></p>
			</th>
			<th width="42">
				<p><strong>&nbsp;</strong></p>
			</th>
			<th width="582">
				<p><strong>PAYMENTS AND RETURNS</strong></p>
			</th>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>24</p>
			</td>
			<td width="582">
				<a href="#q24"><p>When should the tax be remitted (paid)?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>25</p>
			</td>
			<td width="582">
				<a href="#q25"><p>What are the returns that need to be filed under GST and what are their due dates?</p></a>
			</td>
		</tr>
		<tr>
			<th width="47">
				<p><strong>F</strong></p>
			</th>
			<th width="42">
				<p><strong>&nbsp;</strong></p>
			</th>
			<th width="582">
				<p><strong>COMPOSITION SCHEME</strong></p>
			</th>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>26</p>
			</td>
			<td width="582">
				<a href="#q26"><p>What is composition scheme?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>27</p>
			</td>
			<td width="582">
				<a href="#q27"><p>Who can apply for composition scheme?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>28</p>
			</td>
			<td width="582">
				<a href="#q28"><p>What is the rate applicable under composition levy?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>29</p>
			</td>
			<td width="582">
				<a href="#q29"><p>Can you opt for composition scheme only for one out of many business verticals?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="42">
				<p>30</p>
			</td>
			<td width="582">
				<a href="#q30"><p>Can you claim input tax credit under composition scheme?</p></a>
			</td>
		</tr>
		<tr>
			<th width="47">
				<p><strong>G</strong></p>
			</th>
			<th width="42">
				<p><strong>&nbsp;</strong></p>
			</th>
			<th width="582">
				<p><strong>REVERSE CHARGE MECHANISM</strong></p>
			</th>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>31</p>
			</td>
			<td width="582">
				<a href="#q31"><p>What is reverse charge?</p></a>
			</td>
		</tr>
		<tr>
			<td width="47">
				<p>&nbsp;</p>
			</td>
			<td width="42">
				<p>32</p>
			</td>
			<td width="582">
				<a href="#q32"><p>Under what circumstances is reverse charge applicable?</p></a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div style="padding-left:5px; padding-right:5px;">
	<table class="table table-bordered excelFormTable">
		<thead>
		<tr class="heading">
			<th colspan="3">
				<strong>A. OVERVIEW</strong>
			</th>
		</tr>
		</thead>
		<tbody>
			<tr id="q1">
				<td  colspan="3">&nbsp; </br></br></td>
			</tr>
			<tr>
				<td colspan="3">
				<p>Q1. What is GST?</p>
				</td>
			</tr>
			<tr>
				<td>Ans:</td>
				<td>It is a destination based tax on consumption of goods and services. It is levied at all stages right from manufacture
					up to final consumption with credit of taxes paid at previous stages available as setoff. In a nutshell, only value
					addition will be taxed and burden of tax is to be borne by the final consumer.</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			<tr id="q2">
				<td  colspan="3">&nbsp; </br></br></br></td>
			</tr>
			<tr>
				<td colspan="3"><p>Q2. Who is liable to pay GST?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Generally, the supplier of goods / services is liable to pay GST. Except in cases of reverse charge mechanism
    (explained later)</p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
			<tr id="q3">
				<td  colspan="3">&nbsp; </br></br></br></td>
			</tr>
			<tr>
				<td colspan="3"><p>Q3. What is supply of Goods / Services?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Supplies include all forms of supply of goods and/or services such as sale, transfer, barter, exchange, license,
    rental, lease or disposal made or agreed to be made for a consideration (payment in money or in kind) by a person
    for the purpose of business. Please note, the meaning of &lsquo;supply&rsquo; is different from &lsquo;sale&rsquo;.
    Supply would include fore example; transfer of inventory from one branch to another.</p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			
			<tr id="q4">
				<td  colspan="3">&nbsp;</br></br></td>
			</tr>
			<tr>
				<td colspan="3"><p>Q4. Who needs to register for GST compulsorily?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>A person is required to register if the aggregate turnover exceeds ₹20 lacs in a financial year. In case of persons located in specified North- Eastern States and Hill States, the said limit is ₹10 lacs.</p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q5">
				<td  colspan="3">&nbsp;</br></br></td>
			</tr>
			<tr>
				<td colspan="3"><p>Q5. Can a person voluntarily register for GST?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Yes. A person can voluntarily register. </p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
	
			<tr id="q6">
				<td  colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="3"><p>Q6. Who needs to Register for GST irrespective of turnover limits?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p><ol>
					<li>Persons making any inter-state taxable supply</li>
					<li>Casual taxable persons</li>
					<li>Persons who are required to pay tax under reverse charge</li>
					<li>Non-resident taxable persons</li>
					<li>Persons who are required to deduct tax</li>
					<li>Persons who are required to collect tax under Section 56</li>
					<li>Person supplying on behalf of another person whether as agent or otherwise</li>
					<li>Input service distributor</li>
					<li>Person supplying goods through electronic commerce operator.</li>
					<li>Person supplying online information and database access or retrieval services from a place outside India to a
						person in India, other than a registered taxable person.
					</li>
					<li>Such other person or class of persons as may be notified by the Central Government or a State Government on the
						recommendation of the GST Council
					</li>
				</ol></p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			
			
			<tr  id="q7">
				<td  colspan="3">&nbsp;</td>
			</tr>
			<tr class="heading">
				<th colspan="3"><strong>B. REGISTRATION</strong></<th>
			</tr>
			<tr>
				<td colspan="3"><p>Q7. Where to register for GST?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>All GST registrations shall be made GSTN (<a href="http://www.gstn.org">www.gstn.org</a>) only.</p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			
			<tr id="q8">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr>
				<td colspan="3"><p>Q8. How to register for GST?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>All existing Central Excise and Service Tax assessees will be migrated to GST starting 7th January 2017. To migrate
						to GST, assessees would be provided a Provisional ID and Password by CBEC. Provisional IDs would be issued to only
						those assessees who have a valid PAN associated with their registration. An assessee may not be provided a
						Provisional ID in the following cases:</p>
					<ol>
						<li>The PAN associated with the registration is not valid</li>
						<li>The PAN is registered with State a Tax authority and Provisional ID has been supplied by the said State Tax
							authority.
						</li>
						<li>There are multiple CE/ST registrations on the same PAN in a State. In this case only 1 Provisional ID would be
							issued for the 1st registration in the alphabetical order provided any of the above 2 conditions are not met.
						</li>
					</ol>
	
					<p>The assessees need to use this Provisional ID and Password to logon to the GST Common Portal (<a
						href="https://www.gst.gov.in">https://www.gst.gov.in</a> ) where they would be required to fill and submit the
					Form 20 along with necessary supporting documents.</p>
					<p>&nbsp;</p>
					<p>You need to follow the subsequent steps to register for GST with the Provisional ID &amp; Password that has been
						provided by CBEC:</p>
					<p>&nbsp;</p>
					<p>Step 1. Logon to ACES portal using the existing ACES User ID and Password</p>
					<p><img src="assets/website/gst/login.png"></imp></p>
					<p>&nbsp;</p>
					<p>Step 2. Either follow the link to obtain the Provisional ID and Password OR navigate using the Menu</p>
					<p><img src="assets/website/gst/provisonalid.png"></imp></p>
					<p>&nbsp;</p>
					<p><img src="assets/website/gst/provisonalid2.png"></imp></p>
					<p>&nbsp;</p>
					<p>Step 3: Make a note of the Provisional ID and password that is provided. In case a Provisional ID is not provided,
					please refer the Next Step section. In case of further doubt please contact the CBEC Helpdesk at either
					1800-1200-232 or email at <a href="mailto:cbecmitra.helpdesk&#64;icegate.gov.in">cbecmitra.helpdesk&#64;icegate.gov.in</a>.
					</p>
						<p><img src="assets/website/gst/provisonalidnot.png"></imp></p>
						<p>Once you have obtained the Provisional ID and Password, logon to the GST Common Portal</p>
					<p>( <a href="https://www.gst.gov.in">https://www.gst.gov.in</a> ) using this ID and Password. The GST Common Portal has
						made available a manual on how to fill the Form-20. It is available on <a href="http://www.gst.gov.in">www.gst.gov.in</a>
						.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			<tr id="q9">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q9. If a person is operating in different states, with the same PAN, can he operate with a single Registration?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>No. Every person who is liable to take  a Registration will  have to get registered separately for each of the States where he has a business operation.</p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
					
			<tr id="q10">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q10. Whether a person having multiple business verticals in a State can obtain different registrations for each such vertical?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Yes. A person having multiple business verticals in a State may obtain a separate registration for each business vertical, subject to such conditions as may be prescribed.</p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q11">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q11. What are the different types of taxes covered under GST?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>There are four types of GST. State GST (SGST), Central GST (CGST), Integrated GST (IGST) and Union-Territory GST (UTGST).</p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q12">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q12. In what circumstances are SGST, CGST, IGST and UTGST applicable?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p><ol>
						<li>In case of intra- state supply (transactions): SGST and CGST are applicable.</li>
						<li>In case of inter-state supply (transactions): IGST is applicable.</li>
						<li>In case of intra-union territory supply (transactions): UTGST is applicable.</li>
					</ol></p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
			<tr id="q13">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;" class="heading">
				<th colspan="3"><p><strong>C. ACCOUNTING REQUIREMENTS</strong></p></th>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q13. What ledgers do I need to maintain for GST?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>There are totally 6 ledgers (In case business is located in a State) and 4 ledgers (In case business is located
    in Union Territory) that need to be maintained.</p>
					<p>In case business is located in a state:</p>
					
					<table class="table table-bordered">
						<tbody>
						<tr>
							<td width="55">
								<p>Count</p>
							</td>
							<td width="561">
								<p>Ledger</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>1.</p>
							</td>
							<td width="561">
								<p>SGST Payable</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>2.</p>
							</td>
							<td width="561">
								<p>SGST Receivable</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>3.</p>
							</td>
							<td width="561">
								<p>CGST Payable</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>4.</p>
							</td>
							<td width="561">
								<p>CGST Receivable</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>5.</p>
							</td>
							<td width="561">
								<p>IGST Payable</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>6.</p>
							</td>
							<td width="561">
								<p>IGST Receivable</p>
							</td>
						</tr>
						</tbody>
					</table>
					<p>In case of business located in Union Territory</p>
					<table class="table table-bordered">
						<tbody>
						<tr>
							<td width="55">
								<p>Count</p>
							</td>
							<td width="561">
								<p>Ledger</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>1.</p>
							</td>
							<td width="561">
								<p>UTGST Payable</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>2.</p>
							</td>
							<td width="561">
								<p>UTST Receivable</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>3.</p>
							</td>
							<td width="561">
								<p>IGST Payable</p>
							</td>
						</tr>
						<tr>
							<td width="55">
								<p>4.</p>
							</td>
							<td width="561">
								<p>IGST Receivable</p>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			
			<tr id="q14">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q14. When to account for GST on outward supplies (Eg. Sale, Stock Outwards etc)?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>GST needs to be recorded at the time of supply of goods/service. Time of supply shall be earlier of:</p>
					<p>(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date of issue of invoice;</p>
					<p>(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Due date of issue of invoice under section 28;</p>
					<p>(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date on which supplier receives the payment . Earlier
						of:</p>
					<ul>
						<li>Date on &nbsp; which payment is &nbsp; entered in the &nbsp; books of accounts &nbsp; of the supplier; or</li>
						<li>Date on which payment is credited to the bank account</li>
					</ul>
					<p><strong>&nbsp;</strong></p>
					<p><strong>Note</strong> : GST is applicable even on receipt of advance from customer.</p></td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q15">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q15. When to account for GST on inward supplies (Eg. Purchase, Stock Inwards etc)?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td>
					<ul>
						<li>When the receiver is in possession of tax invoice or debit note or any other tax paying document (bill of entry,
							supplementary invoice, running bill etc.)
						</li>
						<li>When the receiver has received the goods and/or services.</li>
					</ul>
					<p><strong>&nbsp;</strong></p>
					<p><strong>Note</strong> : GST is applicable even on receipt of advance from customer.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			
			<tr id="q16">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q16. Is there a format for GST Invoice?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Normally, the tax invoice should have the following details:</p>
					<ul>
						<li>Name, address, GSTIN of the supplier</li>
						<li>Serial Number having only alphabets / numerals</li>
						<li>Date of Issue</li>
						<li>Name, and address of the recipient</li>
						<li>GSTIN/UID of the recipient, if registered</li>
						<li>HSN code for Goods or Accounting Code for Services</li>
						<li>Description of Goods / Services</li>
						<li>Quantity and Unit (or Unique Quantity Code) in case of Goods</li>
						<li>Total Value of Goods and Services</li>
						<li>Post discount/abatement taxable value of Goods and Services</li>
						<li>Rate of Tax, Separately for CGST &amp; SGST or IGST</li>
						<li>Amount of Tax Charged</li>
						<li>Place of Supply along with the name of the State if the supply is not intra-State</li>
						<li>supply</li>
						<li>Place of delivery if different from place of supply</li>
						<li>Whether tax is payable on reverse charge</li>
						<li>Signature/Digital Signature of the Supplier or his authorised representative.</li>
					</ul>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			
			<tr id="q17">
				<td  colspan="3">&nbsp;</td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q17. How many copies of invoice have to be generated and for what purpose?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>In case of supply of goods: - Invoice should be prepared in triplicate.</p>
					<p>Original &ndash; For Recipient</p>
					<p>Duplicate &ndash; For Transporter</p>
					<p>Triplicate &ndash; For Supplier</p>
					<p>&nbsp;</p>
					<p>In case of supply of services: - Invoice should be prepared in duplicate.</p>
					<p>Original &ndash; For Recipient</p>
					<p>Duplicate &ndash; For Supplier</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			<tr id="q18">
				<td  colspan="3">&nbsp;</td>
			</tr>
			<tr class="heading">
				<th  colspan="3"><strong>D. INPUT CREDIT</strong> </th>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q18. Is input credit allowed under GST?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Yes</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q19">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q19. On what category of goods/service is input credit allowed?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Input credit is allowed on both revenue expenditure and capital expenditure.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q20">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q20. Whether Input tax credit on Capital Goods is allowed in one instalment?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Yes, under GST the input tax credit  on capital goods is allowed in one instalment except in respect of pipelines and telecommunication towers fixed to earth by foundation or structural support including foundation and structural support thereto</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q21">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q21. What are the basic conditions for availing input credit?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Under GST the taxable person shall be entitled to the credit of input tax, if all the following four conditions are satisfied:</p>
					<ul>
						<li>The receiver is in possession of tax invoice or debit note or any other tax paying documents</li>
						<li>The receiver has received the goods and or services</li>
						<li>The supplier has paid output taxes to the appropriate government</li>
						<li>The receiver has furnished the monthly return.</li>
					</ul>
					<p>Therefore, the mode of credit will be based on the above conditions including receipt of goods/services and the
						possession of documents</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			
			<tr id="q22">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q22. What is the maximum time limit to claim the Input tax credit?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>A taxable person shall not be entitled to take input tax credit in respect of any supply of goods or services after the earlier of following two events:</p>
					<ul>
						<li>Filing of the return under section 34 for the month of September following the end of financial year to which such invoice or invoice relating to such debit note pertains</li>
						<li>Furnishing of the relevant annual return</li>
					</ul>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q23">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q23. In what order should SGST, CGST and IGST input credit be utilised?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td>
					<p>Credit Utilisation would be as follows</p>
					<table class="table table-bordered excelFormTable">
						<tbody>
							<tr>
								<td rowspan="2" width="154">
									<p>Credit of:</p>
								</td>
								<td colspan="3" width="462">
									<p>Allowed for Payment of</p>
								</td>
							</tr>
							<tr style="background-color: #EAEDED;">
								<td width="154">
									<p>IGST</p>
								</td>
								<td width="154">
									<p>CGST</p>
								</td>
								<td width="154">
									<p>SGST</p>
								</td>
							</tr>
							<tr>
								<td style="background-color: #EAEDED;">
									<p>IGST</p>
								</td>
								<td width="154">
									<p><strong>&#10004;</strong><strong> (1)</strong></p>
								</td>
								<td width="154">
									<p>&#10004; (2)</p>
								</td>
								<td width="154">
									<p>&#10004; (3)</p>
								</td>
							</tr>
							<tr>
								<td  style="background-color: #EAEDED;">
									<p>CGST</p>
								</td>
								<td width="154">
									<p>&#10004; (2)</p>
								</td>
								<td width="154">
									<p><strong>&#10004;</strong><strong> (1)</strong></p>
								</td>
								<td width="154">
									<p>&nbsp;</p>
								</td>
							</tr>
							<tr>
								<td style="background-color: #EAEDED;">
									<p>SGST</p>
								</td>
								<td width="154">
									<p>&#10004; (2)</p>
								</td>
								<td width="154">
									<p>&nbsp;</p>
								</td>
								<td width="154">
									<p><strong>&#10004;</strong><strong> (1)</strong></p>
								</td>
							</tr>
						</tbody>
					</table>
					<p>* The numbers represent the order (priority) of utilization.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			
			<tr id="q24">
				<td  colspan="3">&nbsp;</td>
			</tr>
			<tr class="heading">
				<th  colspan="3"><strong>E. PAYMENTS AND RETURNS</strong></th>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q24. When should the tax be remitted (paid)?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>The payment of taxes by the normal taxpayer is to be done on monthly basis by 20th of the succeeding month. The payment of taxes for the month of March shall be paid by the 20th of April.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q25">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q25. What are the returns that need to be filed under GST and what are their due dates?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>The following returns need to be filed:</p>
					<table class="table table-bordered excelFormTable">
						<tbody>
						<tr>
							<td width="119">
								<p><strong>Return</strong></p>
							</td>
							<td width="486">
								<p><strong>Particulars</strong></p>
							</td>
							<td width="216">
								<p><strong>Due date</strong></p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-1</p>
							</td>
							<td width="486">
								<p>Furnishing details of outward supplies</p>
							</td>
							<td width="216">
								<p>10th of succeeding tax period</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-1A</p>
								<p>(auto- drafted)</p>
							</td>
							<td width="486">
								<p>Communication to supplier of goods and services for any addition/deletion/modification made by the
									recipient in GSTR-2</p>
							</td>
							<td width="216">
								<p>Accept or reject before 17th of the succeeding&nbsp;
									tax period</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-2</p>
							</td>
							<td width="486">
								<p>Furnishing details of inward supplies</p>
							</td>
							<td width="216">
								<p>Before&nbsp; 15th of</p>
								<p>succeeding tax period</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-2A</p>
								<p>(auto- drafted)</p>
							</td>
							<td width="486">
								<p>Part A: Communication to receiver of goods and services in respect of goods and services procured by it
									and uploaded by the supplier.</p>
								<p>Part B: Communication to the receiver of credit in case of distribution of credit by Input Service
									Distributor in Form GSTR-6</p>
								<p>Part C: Communication of details of tax deducted at source from the payments to the receiver based on
									Form GSTR-7 of the deductor.</p>
								<p>Part D: Communication of details of tax collected at source on payments received by the supplier from the
									e-commerce operator, based on Form GSTR-8</p>
							</td>
							<td width="216">
								<p>&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-3</p>
							</td>
							<td width="486">
								<p>Monthly return after finalization of outward supplies and inward supplies</p>
							</td>
							<td width="216">
								<p>20th of succeeding tax period</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-3A</p>
							</td>
							<td width="486">
								<p>Notice sent to registered taxable persons when a particular return is not filed for a tax
									period</p>
							</td>
							<td width="216">
								<p>&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-4</p>
							</td>
							<td width="486">
								<p>Return to be furnished by a registered taxable person under composition scheme</p>
							</td>
							<td width="216">
								<p>18th of the month succeeding the quarter</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-4A</p>
							</td>
							<td width="486">
								<p>Communication to the person registered under composition scheme in respect of inward supplies procured by
									it and uploaded by the supplier</p>
							</td>
							<td width="216">
								<p>&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-5</p>
							</td>
							<td width="486">
								<p>Return to be furnished by non-resident taxable person</p>
							</td>
							<td width="216">
								<p>20th of succeeding tax period</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-6</p>
							</td>
							<td width="486">
								<p>Return to be furnished by Input Service Distributor</p>
							</td>
							<td width="216">
								<p>13th of succeeding tax period</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-6A</p>
							</td>
							<td width="486">
								<p>Communication to Input Service Distributor in respect of inward supplies procured by it and uploaded by
									the supplier</p>
							</td>
							<td width="216">
								<p>&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-7</p>
							</td>
							<td width="486">
								<p>Return to be furnished by persons liable to deduct tax at source under Section 46 of the GST Act</p>
							</td>
							<td width="216">
								<p>10th of succeeding tax period</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-7A</p>
							</td>
							<td width="486">
								<p>Certificate to be issued to the recipient by the person deducting tax at source</p>
							</td>
							<td width="216">
								<p>Within 5 days of remitting the amount deducted</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-8</p>
							</td>
							<td width="486">
								<p>Return to be furnished by persons liable to collect tax at source under Section 56 of the GST Act</p>
							</td>
							<td width="216">
								<p>10th of succeeding tax period</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-9</p>
							</td>
							<td width="486">
								<p>Annual return</p>
							</td>
							<td width="216">
								<p>31st December of subsequent year</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-9A</p>
							</td>
							<td width="486">
								<p>Annual return for composition dealers</p>
							</td>
							<td width="216">
								<p>31st December of subsequent year</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-9B</p>
							</td>
							<td width="486">
								<p>Reconciliation statement to be submitted along with Annual Return</p>
							</td>
							<td width="216">
								<p>31st December of subsequent year</p>
							</td>
						</tr>
						<tr>
							<td width="119">
								<p>GSTR-10</p>
							</td>
							<td width="486">
								<p>Final Return</p>
							</td>
							<td width="216">
								<p>3 months from the date
									of</p>
								<p>cancellation/order of cancellation, whichever later</p>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
		
			<tr id="q26">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr class="heading">
				<th  colspan="3"><strong>F. COMPOSITION SCHEME</strong></th>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q26. What is composition scheme?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>GST allows small traders, manufacturers and restaurants (service providers are specifically excluded) an option to pay simplified tax at prescribed rates. The scheme reduces the compliance burden from such small businesses. The small business needs to apply for the scheme in order to avail the benefits.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q27">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q27. Who can apply for composition scheme?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>A person who is registered with GST and whose aggregate turnover in the preceding financial year did not exceed ₹50
    Lac.</p>
					<p>Exceptions being:</p>
					<p>No such permission shall be granted to a taxable person:</p>
					<ul>
						<li>Who is engaged in the supply of services; or</li>
						<li>Who makes any supply of goods which are not leviable to tax under this Act; or</li>
						<li>Who makes any inter-state outward supplies of goods; or</li>
						<li>Who makes any supply of goods through an electronic commerce operator who</li>
						<li>Is required to collect tax at source under section 56 (e-commerce operator); or</li>
						<li>Who is a manufacturer of such goods as may be notified on the recommendation of the Council</li>
						<li>Registered taxable persons, having the same PAN as held by the said taxable person, also opt to pay tax under
							Section 9(1).
						</li>
					</ul>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q28">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q28. What is the rate applicable under composition levy?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Suppliers opting for Composition levy shall pay a tax calculated on turnover at the rate as may be prescribed, but
    shall not be less than 2.5% in the case of manufacturer and 1% in the case of other suppliers.</p>
<p>It may be noted that the rates 2.5% and 1% would be in respect of CGST as well as SGST and hence, the effective rate
    would be 5% and 2% respectively. Further, the composition scheme is not available on Services and inter-state
    outward supplies.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q29">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q29. Can you opt for composition scheme only for one out of many business verticals?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>No. The composition scheme would be applicable for all business verticals/ registrations, which are separately held
    by the person with same PAN.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q30">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q30. Can you claim input tax credit under composition scheme?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>No. The taxable person under the composition scheme is ineligible to claim input tax credit.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q31">
				<td  colspan="3">&nbsp;</td>
			</tr>
			<tr class="heading">
				<th  colspan="3"><strong>G. REVERSE CHARGE MECHANISM</strong></th>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q31. What is reverse charge?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Reverse charge means the liability to pay tax to the government is on the person receiving (purchasing) goods/services instead of the person supplying (selling) the goods/services.</p>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
			
			<tr id="q32">
				<td  colspan="3">&nbsp;<br><br></td>
			</tr>
			<tr style="margin-top :20px; margin-top:20px;">
				<td colspan="3"><p>Q32. Under what circumstances is reverse charge applicable?</p></td>
			</tr>
			<tr>
				<td><p>Ans:</p></td>
				<td><p>Reverse charge is applicable in the following scenarios:</p>
					<ul>
						<li>In case of receiving supply (purchase) of goods/services from an unregistered dealer.</li>
						<li>In case of import of goods/services.</li>
						<li>In case the recipient is an e-commerce business.</li>
					</ul>
				</td>
				<td><a href="#toc">Top</a></td>
			</tr>
		</tbody>
	</table>
</div>
	<div style="bottom:0;">
		<div style="float: left;">Copyright &copy;&nbsp; 2017 <a href="" target="_blank">IDOS INDIA PVT. LTD.</a> All rights reserved.</div>
		<div style="float: right;">@(configParams.getCompanyApp()) is a simple to use accounting software which helps you become GST Compliant. <b style="color:blue;"><a href="https://www.myidos.com">www.myidos.com</a></b></div>
	</div>
</body>
</html>
