@()(content: Html)

<!--CUSTOMIZABLE MODULES -->
<div class="container-fluid module-whole" style="margin-top:50px;">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <h3 class="bg_color">CUSTOMIZABLE MODULES</h3>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" style="margin-top:30px;" id="pills-container">
        <div class="col-12 module-container">
            <span class="badge badge-pill px-4 py-2 m-1 module-lblue">Auto journal entries for provisions</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lgreen" style="font-weight: 300;">Incentive management</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen" style="font-size: 2.25rem" ;><strong>Online bill discounting</strong></span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblack" style="font-size: 2rem;">Group-level consolidation & reporting</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblue">Vendor management</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblue" style="font-weight: 300;">Investment accounting</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblack"><strong>Digital lending</strong></span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblue" style="font-weight: 300;">E Procurement</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen"><strong>Time &amp; Material</strong></span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblack">Vendor platform</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblack">Dealer accounting</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen"><strong>Big data analytics</strong></span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblue">Corporate mobile app</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblack" style="font-weight: 300;">Holding &#47; subsidiary accounting</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblue">Trend analysis</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblack"><strong>E&#45;Commerce</strong></span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblack" style="font-weight: 300;"><strong>Inventory accounting &amp; valuation<strong></strong></span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen"><strong>Data migration</strong></span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblack">Advanced analytics</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen">Fixed assets &amp; depreciation</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblue" style="font-size: 2.25rem">Order management &amp; accounting</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblack">Customer platform</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblack">Financial projections</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen">Budget alignments &amp; realignments</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblack">Bar code integration</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen">Integrated payment gateway</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblack">AI &#47; ML based reports and analytics</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblack" style="font-size: 2rem">Document management</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblue">Intelligent Payroll</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen" style="font-weight: 300;">Fraud analytics &amp; exception reporting</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblack">Thousands of concurrent users</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen">Spend management</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblue" style="font-size: 2.25rem">Multi&#45;GAAP reporting</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen">Multi&#45;currency accounting</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblack" style="font-weight: 300;">Real&#45;time audit</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-lblue">Credit limit management</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dblack">Direct benefit transfer</span>
            <span class="badge badge-pill px-4 py-2 m-1 module-dgreen">Tax compliances</span>
        </div>
    </div>
</div>
<!--End Of CUSTOMIZABLE MODULES-->

<!-- CASE STUDIES-->
<div class="container-fluid case_study">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3>CASE STUDIES</h3>
        </div>
        <div class="col-sm-4"></div>
    </div>



    <div class="container-fluid" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-3 study_box box in-left wow p4" data-toggle="modal" data-target="#myModal1">
                <h5 class="text-center study_box_content">Case Study1</h5>
                <p class="text-title text-center study_box_content">Sales &amp; Customer accounting for a home appliances company</p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog modal-xl" style="margin-top:100px">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Task&#58;</strong> Enabling a leading manufacturer of home appliances in managing their sales accounting process for their services business which constituted 80% of their annual revenue&#46;</p>

                            <p><strong>Remarks&#58;</strong> Leading manufacturer of home appliances in the country has been using a global ERP for sales accounting and invoicing&#46;However the ERP did not have a mobile version and needed another solution
                                to manage mobile based sales engine for managing their sales in compliance with GST from mobile phone&#44; generate GST compliant invoice &amp; email it in real&#45;time and also provide reports &amp; analytics for their
                                customer engagement and integrating the final output with the head office ERP&#46;</p>

                            <p><strong>IDOS Solution&#58; </strong>IDOS sales and customer accounting module was customised to meet the customer requirements&#46; IDOS built a bridge between the company&#39;s ERP and the sales executive who was meeting the
                                customers and also the customers&#44; whereby customers could raise service request&#44; which was updated in the respective sales executives and service personnel mobile app and ensured that the service personnel reached
                                the location&#44; carried out the service&#44; updated the usage of spares on the mobile which updated the spares inventory and also generated GST compliant invoice and emailed to the customer in a seamless manner&#46;
                            </p>
                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-1 "></div> -->

            <div class="col-lg-3 col-md-3 col-sm-3 offset-md-1 study_box box  wow p4 animated animatedFadeInUp fadeInUp " data-toggle="modal" data-target="#myModal2">
                <h5 class="text-center study_box_content">Case Study2</h5>
                <p class="text-title text-center study_box_content">Management of sales&#44; inventory and direct benefit transfer for an agrochemical company</p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog modal-xl" style="margin-top:100px">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Task&#58;</strong> Enabling a group of agrochemical companies in enhancing operational efficiencies in sales &amp; collections process&#44; management &amp; accounting of Direct benefit transfer of subsidy and also
                                better inventory management&#46;</p>

                            <p><strong>Remarks&#58;</strong> A large agrochemical group was looking for a technology solution to help them in reducing turnaround time in inventory reconciliation&#44; sales collections and also helping in operational efficiency
                                in direct benefit transfer process&#44; which consequently would result in more optimal working capital management&#46; Their existing ERP was not nimble enough to facilitate engagement with the last mile where the sale
                                was effected to the customer from the retailer&#46;</p>

                            <p><strong>IDOS Solution&#58; </strong> IDOS provided an web based application with also a mobile app&#44; which collated data from the ERP and pushed relevant data to the mobile app &#40;IDOS&#41; from where the field staff and
                                sales staff could ascertain inventory and receivables position at the retailers in the geography where they were responsible&#46; The mobile app with geotagging capabilities could identify the dealers at the location where
                                the sales staff visited and alerted them to visit those retailers where receivables were overdue and also enables the staff to identify dealers and physically verify inventory and record in the mobile app&#44; which in
                                turn updated the inventory position in the ERP in real&#45;time&#46; All this helped the company in achieving operational efficiency&#44; reduced receivables turnaround time and helped the company in better working capital
                                management and rotation&#46;</p>
                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!--  <div class="col-sm-1 "></div> -->

            <div class="col-lg-3 col-md-3 col-sm-3 offset-md-1 fadeInRight wow study_box box" data-toggle="modal" data-target="#myModal3">

                <h5 class="text-center study_box_content">Case Study 3</h5>
                <p class="text-title text-center study_box_content">Distributor&#47;Dealer accounting&#44; incentive management for a large manufacturing company
                </p>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal3" role="dialog">
                <div class="modal-dialog modal-xl" style="margin-top:100px">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Task&#58;</strong> Enabling an American manufacturing MNC in managing their distributor accounts&#44; incentives to their distributors&#44; sales incentives and accounting for all these components and post the output
                                into their ERP&#46;</p>

                            <p><strong>Remarks&#58;</strong> One of the world&apos;s largest industrial and household machine manufacturing organisation was looking for a solution to reduce the turnaround time with respect to computation and accounting of
                                monthly distributor and sales related incentives&#44; which was currently taking 7 working days time per month&#46; The customer could not accomplish these complex computations and accounting in their ERP and the customisation
                                of their ERP was cost prohibitive&#46;</p>

                            <p><strong>IDOS Solution&#58; </strong> IDOS was able to accomplish this task and helped in reducing turnaround time&#44; enhance positive engagement with distributors by making payments within 3 days of close of the month and
                                also reduced the processing time from 7 working days to under a few minutes&#46;This also reduced the cost of operations&#44; since all computations and accounting was automated by IDOS and there was no need to hire external
                                contractors for the task and also the time of sales and accounting professionals on this task was reduced by over 90%&#44; enabling them to focus on their core activities and revenue generation and management&#46;</p>
                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top:30px">

            <div class="col-lg-3 col-md-3 col-sm-3 p-4 box in-left wow study_box " data-toggle="modal" data-target="#myModal4">
                <h5 class="text-center study_box_content">Case Study4</h5>
                <p class="text-title text-center study_box_content">
                    Financial platform for professional services organizations&#46;
                </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal4" role="dialog">
                <div class="modal-dialog modal-xl" style="margin-top:100px">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Task&#58;</strong> Empower accounting firms to augment their revenue without any additional risk and with existing resources&#44;gain operational efficiencies in the accounting and managed services that they provide
                                to their customers and also increase the yield of each staff member in the managed services departments&#46;</p>

                            <p><strong>Remarks&#58;</strong> In light of increasing competition&#44;increased compliance risks&#44; changes being ushered-in by technology and also to find alternative sources of revenue&#44; audit and accounting firms across
                                the world are looking for solutions which will enable them to secure additional revenue&#44; without additional risk&#46; IDOS platform is providing these firms with technology on which they can provide accounting&#44;
                                taxation and consulting service in a secure manner and in compliance to their internal business protocols&#46;</p>

                            <p><strong>IDOS Solution&#58; </strong> IDOS provides specific versions of the solution&#47;platform to audit and accounting services companies to sell the solution under their branding&#40;white-label&#41; or under co-branding
                                arrangement&#46; Further IDOS Platform provides the firms with a specific version on which they can include their accounting&#44;tax or consulting services and provide both technology and services to their customers&#46;IDOS
                                Platform has multiple monetisation opportunities other than just license fee&#44;which is shared with the firms to augment their revenue without any additional risk&#46;
                            </p>
                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3  col-md-3 col-sm-3 offset-md-1 p-4 w-100 box  wow study_box animated animatedFadeInUp fadeInUp " data-toggle="modal" data-target="#myModal5" s>
                <h5 class="text-center study_box_content">Case Study5</h5>
                <p class="text-title text-center study_box_content">ERP for a financial services Company&#46;</p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal5" role="dialog">
                <div class="modal-dialog modal-xl" style="margin-top:100px">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Task&#58;</strong> Transition accounting and financial reporting requirements of one of the largest financial services company from their legacy &#40;Global &#41; ERP to IDOS&#46;</p>

                            <p><strong>Remarks&#58;</strong> The company is a listed entity and was looking at replacing their ERP since it was difficult to implement&#47;revise internal financial controls on the ERP&#44; cost prohibitive to upgrade and
                                comply with changes in the regulatory framework and finally it was getting difficult and expensive to get trained resources to maintain and use the ERP&#46; They were looking for a solution which would be simple to use&#44;
                                easy to customise and deploy and one which can be easily customised to meet the changes which the business would encounter as a result of changes in the eco system in which the business operates&#46;</p>

                            <p><strong>IDOS Solution&#58; </strong> IDOS customised its platform to ensure that the capabilities correlate to the requirements of the company and deployed the solution 2 weeks before the scheduled date and enabled the customer
                                to go&#45;live in a smooth manner&#46; IDOS even helped in migration of data from the legacy ERP and thereby ensured that the transaction history was available even after migration&#46;The Company deployed IDOS across multiple
                                branches in a seamless manner and this brought&#45;in consistency in transaction processing and compliance management across multiple locations without any additional cost on manual supervision and control&#46;IDOS helped
                                the company to save significant cost when compared to upgrading their existing ERP and being future ready&#44;provided the Company with the platform that can be easily customised as per future needs&#46;
                            </p>
                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-3 offset-md-1 p-4 box fadeInRight wow study_box" data-toggle="modal" data-target="#myModal6">
                <h5 class="text-center study_box_content">Case Study6</h5>
                <p class="text-title text-center study_box_content">Integration with Microsoft Excel and Mobile applications&#46;</p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal6" role="dialog">
                <div class="modal-dialog  modal-xl" style="margin-top:100px">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Task&#58;</strong> Majority of the companies prefer to use Microsoft Excel to prepare analysis and reports with table&#44; graphs and other visualisations&#46; Business applications are now expected to be mobile first
                                and provide capabilities whereby certain transactions and actions can be managed on mobile devises &#46;IDOS was expected to provide integrations whereby accounting and financial data can be easily analysed on Microsoft
                                Excel and certain actions can be handled through mobile application&#46;</p>

                            <p><strong>IDOS Solution&#58;</strong> IDOS developed integration with Excel on-line whereby the users of IDOS could login to IDOS directly from Microsoft Excel on&#45;line and view reports with corresponding graphs&#44; with
                                just one click &#46;Click on this link <a href="https://www&#46;youtube&#46;com/watch&#63;v=_ODBAlFysGw">https&#58;&#47;&#47;www&#46;youtube&#46;com&#47;watch&#63;v=_ODBAlFysGw</a> to see the You tube video of this capability&#46;
                                IDOS also developed a capability to integrate with Microsoft Kaizala app whereby certain GST related action could be completed on the mobile&#46;</p>
                        </div>

                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Case Study  -->



<!-- TESTIMONIALS-->
<div class="container-fluid Testimonials">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <h3>TESTIMONIALS</h3>
        </div>
        <div class="col-sm-5"></div>
    </div>

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-sm-12 testi_color text-justify">
                <p class="testi_para"> &quot;IDOS is better than competing accounting software on two counts namely Accounting Control &amp; Accounting Intelligence&#46; &quot;</p>
                <p class="quotes"><strong>Head of Corporate Accounts &amp; Treasury &#45;Marico Ltd&#46;</strong></p>

                <p class="testi_para"> &quot; The product is very good in terms of ease of use and I will definitely put in a word to known circles&#46; I will definitely recommend this model for municipal corporations and SME&#39;s&#46; &quot;</p>
                <p class="quotes"><strong>  Program Director Finance &#45; Mindtree  </strong></p>

                <p class="testi_para"> &quot; IDOS is a powerful tool for companies such as ours, since we can control and manage accounting and procurement at all our outlets without having to be physically present at these places&#46; what we like the best is the fact that
                    we can analyse in real&#45;time&#44; whether we are paying more for any purchases and IDOS lets us know if there are suppliers in our location who can provide better pricing for the items that we buy&#46; &quot;</p>
                <p class="quotes"><strong> One of the Largest Automobile Dealer in Country   </strong></p>

                <p class="testi_para"> &quot; We started using the beta version&#46; It is incredible to know the additional features which are being offered which facilitate the decision maker to select best vendor on real&#45;time basis&#46; This will help us in saving cost
                    significantly&#46; we are able to avoid duplications at various level of expense claim processing and availability of timely information for decision making is really appreciable&#46; In IDOS there is a paradigm shift from available
                    accounting packages and in particular the dependence on the accounting personnel in getting timely data could be greatly reduced&#46; No presently available software is able to provide such options&#46; &quot;</p>
                <p class="quotes"><strong> One of the Largest Dairies in the country   </strong></p>

                <p class="testi_para"> &quot;Heading the finance department of an MNC&#44; I always depend on IDOS&#45; generated data for making proper financial decision&#46; The one&#45;of&#45;a&#45;kind business Intelligence solution helps me to make feasible financial
                    strategies and direct my organization towards its pre&#45;determined objectives&#46; Using its business Intelligence tool&#44; I can fetch real&#45;time data anywhere and anytime&#46; Beside such features&#44; it offers excellent customization
                    and god mobile accessibility&#59; all of which makes it more simple&#44; convenient and user&#45;friendly&#46;&quot;</p>
                <p class="quotes"><strong> SME Business   </strong></p>

                <p class="testi_para"> &quot;As a owner of a CA firm&#44; I was hoping for a solution that would allow me to propose suitable financial strategies for my clients and improve their finances&#44; in a short period of time&#46; My friend then recommended IDOS and
                    using it just for a month&#44; I knew I am in the right pitch&#46; The excellent business intelligence solution presents data in the form of interactive visuals within the dashboards&#46; With the help of the business intelligence
                    tool&#44; I can analyse all business data and make quick decisions on behalf of my clients&#46;&quot;</p>
                <p class="quotes"><strong> Small Audit Firm</strong></p>


            </div>
        </div>
    </div>
</div>