@()(content: Html)
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5804a5699ca1830bdc94a852/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
</script>
   	<header class="innerpage">
	  <div class="container">
		<nav class="navbar navbar-expand-md navbar-light">
		  <a class="navbar-brand" href="/" title="My Idos Logo"><img src="assets/website/images/logo.png" class="img-responsive" alt="Logo"/></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link nav-red-btn" href="/signIn#logindiv"><i class="fas fa-lock"></i>&ensp;Login</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link nav-white-btn" href="#" data-toggle="modal" data-target="#demoModal"><i class="fas fa-play-circle"></i>&ensp;Request Demo</a>
			  </li>
			</ul>
		  </div>
		</nav>
	  </div>
	</header>

    <!-- Header Carousel -->