<!DOCTYPE html>
<html lang="en">
  <head>
    <title>::Welcome to IDOS::</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="assets/website/images/logo.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="assets/website/css/style.css" rel="stylesheet">
	<!-- [if lt IE 9]
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
	@indexhead(){
	}
	<main>
	  <div class="fullwh myidos">
		<div class="container">
		  <div class="row">
			<div class="col-sm-6">
					<p style="padding-top:40px;">IDOS is a financial software platform that enables you to easily manage end-to-end accounting, taxation, financial reporting, business analytics, internal financial controls, compliances and also manage your core business processes including HRMS & payroll, fixed assets & amortisation, vendor management & e-procurement and inventory. Additionally, based on the accounting & financial management capability, IDOS empowers you with curated financial data that will enable you take business decisions and also reduce your operating costs and increase profits. Select an option from the dropdown box below to know how IDOS can help you and your business?</p>
					<div class="dropdown">
					  <a class="btn btn-primary dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Select Options
					  </a>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="idos1">How can IDOS facilitate ease of doing business?</a>
						<a class="dropdown-item" href="idos2">How can IDOS help a small business with minimum accounting requirements?</a>
						<a class="dropdown-item" href="idos3">We are a mid-sized business. How can IDOS help us?</a>
						<a class="dropdown-item" href="idos4">We are a large company with a functioning ERP. How is IDOS relevant to us?</a>
						<a class="dropdown-item" href="idos5">We are an audit firm. Why should we ask our clients to use IDOS?</a>
						<a class="dropdown-item" href="idos6">How does IDOS facilitate compliance?</a>
						<a class="dropdown-item" href="idos7">How does IDOS empower our business with data analytics?</a>
						<!--<a class="dropdown-item" href="idos8">Is IDOS GST compliant?</a>-->
						<a class="dropdown-item" href="idos9">We are a bank. How is IDOS relevant to us?</a>
						<a class="dropdown-item" href="idos10">How can we collaborate or partner with IDOS?</a>
						<a class="dropdown-item" href="idos11">We want to know more about IDOS as a product and the company background?</a>
						<a class="dropdown-item" href="idos12">Can we sell our goods and services to IDOS users?</a>
						<a class="dropdown-item" href="idos14">How much does IDOS cost and how can we purchase and start using IDOS?</a>
					  </div>
					</div>
			</div>
			<div class="col-sm-6">
				<img src="assets/website/images/woman.png" class="img-fluid" alt="Woman"/>
			</div>
		  </div>
		</div>
	  </div>
	@indexfooter(){
	}
	</main>
  </body>
</html>
