@(fullName:String,email:String,role:String,orgn:model.Organization,allowedProcurement:String, diff:Long,configParams:model.ConfigParams)
@main(fullName,email,role,orgn,allowedProcurement, null,configParams){
@if(null != email) {
<style type="text/css">
body {
	background: #F5F5F5;
}
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $('#loadingIdos').hide();
  });
</script>
<div class="login-form" role="login" id="wrapper">
	<div class="main-header">&nbsp;
		<div class="header-other-pages">
			<a style="float: right;margin-top: 17px;" href="" onClick="doLogout();"><b style="margin-right: 5px;">Sign Out</b></a>
			<b style="float: right;margin-top: 15px;">&nbsp;&nbsp; | &nbsp;&nbsp;</b>
			<div style="float: right;margin-top: 15px; cursor: default;"> @fullName </div>
		</div>
	</div>
	
	<div class="outsideTable" id="outsideTableDivId">
		<form onsubmit="return false;">
			<div class="top">
				<img src="@(configParams.getCompanyLogoPath())" alt="icon">
				<h5>Your password has not been changed since last @diff days. Please reset your password and continue.</h5>
			</div>
			<div class="rowPassword">
				<span>Email</span>
				<input readonly="readonly" value="@email" id="userEmail" />
			</div>
			<div class="rowPassword">
				<span>Old Password</span>
				<input type="password" id="oldPassword" name="oldPassword" />
			</div>
			<div class="rowPassword">
				<span>New Password</span>
				<input type="password" id="newPassword" name="newPassword" />
			</div>
			<div class="rowPassword">
				<span>Confirm New Password</span>
				<input type="password" id="newConfirmPassword" name="newConfirmPassword" />
			</div>
			
			</br>
			<div>
				<button id="submitPasswordExpiry" name="submitPasswordExpiry" class="btn btn-primary btn-idos" onkeyup="keyUp(event, 'submitPasswordExpiry');">Reset Password</button>
				<button id="cancelPasswordExpiry" name="cancelPasswordExpiry" style="margin-left:10px; height:30px; width:125px;" class="btn btn-cancel">Cancel</button>
			</div>
			</br>
		</form>
	</div>
	<div class="pswd_info">
		<h4>Password must meet the following requirements:</h4>
		<ul class="pwdinfoli">
			<li id="letterPwd" class="invalid letterPwd">At least <strong>one letter</strong></li>
			<li id="capitalPwd" class="invalid capitalPwd">At least <strong>one capital letter</strong></li>
			<li id="capitalPwd" class="invalid smallPwd">At least <strong>one small letter</strong></li>
			<li id="numberPwd" class="invalid numberPwd">At least <strong>one number</strong></li>
			<li id="specialcharPwd" class="invalid specialcharPwd">At least <strong>one special character</strong></li>
			<li id="lengthPwd" class="invalid lengthPwd">Be at least <strong>8 characters</strong></li>
		</ul>
	</div>
</div>
} else {
	<script type="text/javascript">
		window.location.href = 'signout';
	</script>
}
}