@(password:String,fullname: String,email:String,configParams:model.ConfigParams)
<table style="width: 600px;font-family: sans-serif;">
	<tbody>
		<tr id="emailHeader">
			<td>
				@(configParams.getCompanyApp()) CORP- Accounting Simplified
			</td>
		</tr>
		<tr id="emailBody"><td>
		<table>
        <tr>
          <td style="width: 550px" align="left">
            <div>
              <b><font size="4">Hello, @{fullname}</font></b><br/>
              <b><font size="4">Greetings for the day.</font></b>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 550px" align="left">
            <div>
               <b><font size="4">please find your Login details below:</font></b><br/>
               <b><font size="3">  Email: @{email}</font></b><br/>
               <b><font size="3">  Password: @{password}</font></b>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 300px;" align="center">
            <div>
               <span><b><font size="4" color="white">Login From Your Computer</font></b><br/></span>
               <span >
	        		<a href="@(configParams.getCompanyUrl())/"><font size="3">@(configParams.getCompanyUrl())</font></a>
               </span>
            </div>
          </td>
        </tr>
      </table>
	  </td></tr>
	  <tr style="background-color: black;" id="emailFooter">
		<td style="text-align: left;">&nbsp;<img  border="0" width="30px" height="30px" src="@(configParams.getCompanyLogoPath())"/></td>
	  </tr>
	</tbody>
</table>