@(fullName:String,email:String,role:String,orgn:model.Organization,allowedProcurement:String, configParams:model.ConfigParams)(content: Html)
<div class="content">
	<div class="panel panel-showtrans">
	<div class="panel-body">
		<div class="main-header">&nbsp;
			<div class="header-other-pages">
				<img id="companyLogo" alt="logo" src='@(configParams.getCompanyLogoPath())' align="top" style="margin-top: -2px; margin-left: 4px;margin-bottom: 4px; margin-right: 4px;"></img>
				<a style="float: right;margin-top: 15px;" href="https://www.myidos.com:9000/signIn#logindiv"> Sign In </a><!--<b style="float: right;margin-top: 15px;">&nbsp;&nbsp;  | &nbsp;&nbsp;</b><a style="float: right;margin-top: 15px;" href="https://www.myidos.com:9000/signUp#signUpDiv"> Register/SignUp </a> -->
			</div>
		</div>
		<div class="sub-header">&nbsp;</div>
		<div id="twocolumns">
			<aside class="browse_category">
				<div class="sidebox" style="float:left;width:280px;">
					<div class="heading blue" style="margin:0px 0px 0px; height: 30px;">
						<h4 align="center" style="margin-top: 5px;">User Profile Security</h4>
					</div>
					<div class="category_list">
					<ul class="company-nav">
						<li class="menu-information-collected"><a href="#">Security Questions</a></li>
					</ul>
					</div>
				</div>
				<div class="clear"></div>
			</aside>
			<div id="content" style="margin-left: 20px; width: 710px; border-left: 1px solid #888; padding-left: 10px;">
			<input type="hidden" id="emailUserSecurity" value="">
				<div id="securityQuestions"></div>
			</div>
		</div>
	</div>
	</div>
</div>
<script type="text/javascript">
	alwaysScrollTop();
	$('#loadingIdos').fadeOut();
</script>